<p>Your credit card expires at the end of this month.</p>

<p>Please update your credit card information via the <%= link_to('Update billing information', edit_billing_url) %> page.</p>

<p>If you have any questions, please reply to this email.</p>