<p>The payment for <%= @invoice.site.hostname %> has failed multiple times and no further attempts will be made to charge this account.</p>

<p>You can purchase a plan for <%= @invoice.site.hostname %> via the <%= link_to('Update plan', edit_site_plan_url(@invoice.site)) %> page.</p>

<p>Please note that if payment failed due to a problem with your credit card, you can update your card information via the <%= link_to('Update billing information', edit_billing_url) %> page.</p>

<p>If you have any questions, please reply to this email.</p>