%p There has been a problem processing your payment and your credit card could not be charged.

%p
  - if @transaction.user.cc_expired?
    = raw "Please update your credit card information via the #{link_to('Update billing information', edit_billing_url)} page."

  - else
    = raw "Please visit the #{link_to('My Sites', sites_url)} page to find out which sites encountered payment errors and retry the payment."