%p Your latest SublimeVideo payment has been approved.

%p= "The total amount charged was #{display_amount(@transaction.amount)}."

%p
  - if @transaction.invoices.one?
    You can review the invoice via the following link:
  - else
    You can review the invoices associated with this transaction via the following links:

%ul
  - @transaction.invoices.each do |invoice|
    %li= link_to(invoice_url(invoice.to_param), invoice_url(invoice.to_param))