<p>Your latest SublimeVideo payment has been approved.</p>

<p>The total amount charged was <%= display_amount(@transaction.amount) %>.</p>

<% if @transaction.invoices.size == 1 %>
<p>You can review the invoice via the following link:</p>
<% else %>
<p>You can review the invoices associated with this transaction via the following links:</p>
<% end %>

<ul>
<% @transaction.invoices.each do |invoice| %>
<li><%= link_to(invoice_url(invoice.to_param), invoice_url(invoice.to_param)) %></li>
<% end %>
</ul>

<p>If you have any questions, please reply to this email.</p>