%small
- if has_role?('twitter')
  .favorite_form
    = form_tag [:favorite, :admin, tweet], method: :put, remote: true do
      = submit_tag "#{tweet.favorited? ? "★" : "✩"}", onclick: "jQuery('#table_spinner').show();"
  .spacer
- else
  = tweet.favorited? ? "★" : "✩"
