.next_box
  - if display_exit && @sites.many?
    = link_to 'Exit Assistant', sites_url, class: 'exit hl'

  %button.btn{ type: 'submit' }
    %span.arrow Next

  - if position == 'bottom'
    .spacer
