.next_box
  - unless @sites.one?
    = link_to 'Exit Assistant', sites_url, class: 'exit hl'
  - if next_url
    = link_to next_url, class: 'btn' do
      %span.arrow Next
  - else
    %button.btn{ type: 'submit' }
      %span.arrow Next
  - unless top
    .spacer
