#step_guide
  .step.s1{ class: step_class(current_step, 'new_site') }
    .circle
      %span 1
    %h4 Add site

  .step.s2{ class: step_class(current_step, 'addons') }
    .circle
      %span 2
    %h4 Choose add-ons
    .line

  .step.s3{ class: step_class(current_step, 'player') }
    .circle
      %span 3
    %h4 Create Player
    .line

  .step.s4{ class: step_class(current_step, 'publish_video') }
    .circle
      %span 4
    %h4 Publish a video
    .line

  .step.s5{ class: step_class(current_step, 'summary') }
    .circle
      %span 5
    %h4 Summary
    .line
  .spacer
.big_break
