* {
  margin:0;
  padding:0;
}

html {min-height:100%;}

body {
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  font-size:15px;
  color:#1e2739;
  min-height:100%;
  background:#5d6778;
  background:-webkit-gradient(linear,left top,left bottom,from(#778091),to(#5d6778));
  background:-moz-linear-gradient(top, #778091, #5d6778);
  background-attachment:fixed;
  text-rendering:optimizeLegibility;
}

#header {
  min-width:1000px;
  height:61px;
  background:url(images/header_background.png) repeat-x;
}

#header_wrap {
  width:960px;
  margin:0 auto;
  padding:0 20px;
  position:relative;
}

#header h1 a {
  display:block;
  float:left;
  width:239px;
  height:32px;
  background:url(images/sublimevideo.png) no-repeat;
  position:relative;
  top:12px;
}

#header h1 a span {display:none;}

#header .right {
  position:absolute;
  right:20px;
  top:16px;
}

#header .right ul.extra_links {
  list-style-type:none;
  float:left;
  padding:8px 20px 0 0;
}

#header .right ul.extra_links li {
  float:left;
  font-size:12px;
  padding:0 10px 2px;
  border-left:1px solid #45384b;
}

#header .right ul.extra_links li:first-child {
  border-left:none;
}

#header .right ul.extra_links li a {
  color:#bfabc9;
  border-bottom:1px solid #45384b;
  -webkit-transition:0.6s color;
  -moz-transition:0.6s color;
}

#header .right ul.extra_links li a:hover {
  color:#fff;
}

#content {
  width:600px;
  margin:100px auto;
  text-align:center;
  text-shadow:rgba(255,255,255,0.2) 0 1px 0;
}

#content h2 {
  font-size:40px;
  font-weight:600;
}

#content .description {
  padding:20px 0;
}

a {
  text-decoration:none;
}