## PROJECT::GENERAL
coverage
rdoc
*.dat
public/javascripts/all.js
public/stylesheets/all.css
public/rcov
config/database.yml
tmp/restart.txt
backup.db
public/uploads
public/js
public/v
public/logs
logfile
log
tmp
vendor/ruby
!Guardfile
!Gemfile
!Gemfile.lock
!.bundle
!.bundle/*
!public/assets/*.gz
