## PROJECT::GENERAL
coverage
rdoc
# *.dat
public/assets
tmp/restart.txt
backup.db
public/uploads
logfile
db/*.sqlite3
db/backups/*
doc/js/
.sass-cache/
vendor/ruby
vendor/bundler
!.bundle
!.env
uploads
.tddium*
*.sublime-project
!.sublime-project
public/test.html
routes.txt
