%tr[mail_log]{ class: cycle("", "alt") }
  %td.admin
    = link_to mail_log.admin.email, admin_mail_log_path(mail_log)
  %td.template
    %small
      = link_to mail_log.template.title, admin_mail_log_path(mail_log), :title => mail_log.template.title
  %td.users_count
    %small
      = link_to mail_log.user_ids.size, admin_mail_log_path(mail_log)
  %td
    %small= link_to display_time(mail_log.created_at), admin_mail_log_path(mail_log)
