#billing_infos{ 'data-state' => credit_card_state(current_user), style: 'display:none' }
  #billing_infos_none{ style: 'display:none' }
    = raw t('site.plan.upgrade_need_billing_infos_first', link: link_to("fill your billing information", [:edit, :billing], class: "hl"))

  #billing_infos_expired{ style: 'display:none' }
    = t('user.credit_card.expired')
    = raw t("app.please_link", link: link_to(t('app.update_it'), [:edit, :billing], class: "hl")) + " and come back here to buy your plan."

  #billing_infos_present{ style: 'display:none' }
    #credit_card_summary
      %strong Credit card used
      = render 'my/billings/cc_summary', user: current_user

.spacer
