.entry
  %h5= kit_setting_title(parameters)

  %table#logo_position
    %tr
      - %w[top-left top-right].each do |choice|
        %td
          = render 'kits/inputs/radio', kit: kit, parameters: parameters, choice: choice
    %tr
      - %w[bottom-left bottom-right].each do |choice|
        %td
          = render 'kits/inputs/radio', kit: kit, parameters: parameters.merge(label_on_left: true), choice: choice

.spacer
