= page_title "Using the JavaScript API"

:textile
  h3(#api-object). "API Object":#api-object

  The SublimeVideo Player comes with an integrated JavaScript API. Once loaded, SublimeVideo Player instantiate a unique API object called @sublimevideo@. All calls to the API must be done through this object.

  *_Important:_* SublimeVideo Player and the @sublimevideo@ API object are automatically loaded on page load if there is at least one @<video>@ element in the DOM. If you have no videos initially on the page (and you plan for instance to add them dynamically later with JavaScript) you can use the "(c)@sublimevideo.load@":/javascript-api/methods#load method to force loading the player and the @sublimevideo@ API object.

  The @sublimevideo@ API object might not be immediately available when the DOM is loaded. You should avoid making calls to the SublimeVideo JavaScript API in your own DOM loaded/ready method (e.g. @DOMContentLoaded@, jQuery's @.ready()@ or Prototype's @dom:loaded@), but you should rather use our "(c)@sublimevideo.ready@":/javascript-api/listeners#ready listener.

  h3(#api-methods-and-listeners). "API Methods and Listeners":#api-methods-and-listeners

  h4. "Methods":/javascript-api/methods

  "(c)@load@":/javascript-api/methods#load "(c)@pause@":/javascript-api/methods#pause "(c)@play@":/javascript-api/methods#play "(c)@prepare@":/javascript-api/methods#prepare "(c)@prepareAndPlay@":/javascript-api/methods#prepareAndPlay "(c)@resize@":/javascript-api/methods#resize "(c)@stop@":/javascript-api/methods#stop "(c)@unprepare@":/javascript-api/methods#unprepare

  h4. "Listeners":/javascript-api/listeners

  "(c)@onEnd@":/javascript-api/listeners#onEnd "(c)@onStart@":/javascript-api/listeners#onStart "(c)@ready@":/javascript-api/listeners#ready