- if invoice.vat_amount > 0
  %tr.pre_total
    %td.right{ :colspan => 2 }= "VAT #{display_percentage(invoice.vat_rate)}:"
    %td.total= display_amount(invoice.vat_amount, :decimals => 2)

%tr.final_total
  %td.right{ :colspan => 2 }
    %strong Total
  %td.total
    %strong= display_amount(invoice.amount, :decimals => 2)
