= title_and_content_header("Next invoice estimate")

%h3= invoice_dates(@invoice)

%ul
  - @invoice.invoice_items.each do |invoice_item|
    %li= invoice_item.inspect
    
%strong Total:
= @invoice.amount