- title(@site.hostname? ? "Invoices for #{hostname_or_token(@site)}" : "Site invoices")
= render '/layouts/site_header'

#site.invoices
  - if @invoices.empty?
    #no_invoices
      %p No invoices

  - else
    - open_or_failed_invoices = @invoices.open_or_failed
    - paid_invoices = @invoices.paid
    #invoices_summary.content_left
      - if paid_invoices.any?
        .past_invoices.dark_box
          %h3.section_title Paid invoices
          %ul= render partial: 'invoice_row', collection: paid_invoices, as: 'invoice'
