= content_for :title, "SublimeVideo V2"
= content_for :header do
  %h2= "Press Release"
  
:textile
  h3. Jilion Commercializes Highly Anticipated SublimeVideo Cloud-based HTML5 Player Service

  LAUSANNE, Switzerland—March 30, 2011—Jilion® today announced the commercialization and immediate availability of SublimeVideo®, the world's first cloud-based HTML5 video player service.

  Created in early 2010 to demo Jilion's HTML5 skills, SublimeVideo Player rapidly generated huge interest worldwide. "We have been amazed by the response, gaining over 9,000 twitter followers and more than 1 million unique visitors to our demo page. All without spending a dime on marketing." said Zeno Crivelli, Jilion's co-founder and lead developer.

  "We knew the player was sleek and functional, but we wanted to push the envelope much further to be able to deliver our customers with all the benefits of HTML5, without any of the associated complexity." said Mehdi Aminian, Jilion's co-founder.

  To achieve that goal Jilion decided in April 2010 to build a cloud-based service platform that automatically provides all its customers with the latest and most widely compatible version of SublimeVideo Player. 

  "With the ever growing variety of browsers and devices out there, this is a truly beautiful approach: If we receive bug reports we often ask users to simply reload their page to show them the problem has been fixed! It never ceases to amaze them, and us!" added Zeno Crivelli.

  Today, after a successful 6-month beta period with thousands of participating sites, over 50 transparent player updates and millions of video page views, SublimeVideo is ready for prime-time.

  *User response:*

  "The SublimeVideo player has set a real benchmark for high quality HTML5 video players. By using it on littlebigplanet.com, it's allowed us to deliver our videos across a broad spectrum of devices and operating systems to a much wider audience, including the latest smartphone handsets - an ever increasing proportion of our site visitors. Additionally, the Jilion team have been really helpful and supportive, allowing us to deliver the best experience for our users." said Tom Kiss, Community Manager at Media Molecule, a Sony Computer Entertainment company. ("http://littlebigplanet.com":http://littlebigplanet.com)

  "HTML5 video can be a bag of hurt if you implement it on your own. The fact that SublimeVideo makes it so we can just drop in a line of Javascript and it works consistently across all the browsers  is amazing. The great design and thoughtful user experience just make it even better." said Scott Meinzer, Co-Founder of tap tap tap, developer of Camera+. ("http://campl.us":http://campl.us)

  "We needed to leverage HTML5 video for Method & Craft because we knew iOS device use would be high among our visitors. The SublimeVideo player not only delivered on that need in spades, but also looks absolutely gorgeous which is a big deal to design nerds like us." said Phil Coffman, Founder of Method & Craft ("http://methodandcraft.com":http://methodandcraft.com)

  *Pricing & Availability:*

  SublimeVideo paid plans start at $9.90 per month. A free & unlimited test plan is also provided to developers. All plans are available immediately. For more information please visit http://sublimevideo.net

  *About Jilion:*

  Jilion® / Jime® SA is a startup company based at EPFL Innovation Square in Lausanne, Switzerland. Jilion is the creator of SublimeVideo®, the world's first cloud-based HTML5 video player; a unique solution that delivers all of the benefits of HTML5 video with none of the associated complexity.

  *Press Contact:*

  Please contact us at "http://jilion.com/contact":http://jilion.com/contact or "info@jilion.com":mailto:info@jilion.com