= content_for :title, "SublimeVideo V2"
= content_for :header do
  %h2= "Press Release"

:textile
  h3. SublimeVideo - The World's First Cloud-based HTML5 Video Player Launches Free and Unlimited Player, Alongside Enhanced Paid Plans and Universal, Real-Time Stats Platform
  
  Lausanne, Switzerland - November 29th, 2011- Jilion® today launched a major update to its cloud-based HTML5 Video Player service, SublimeVideo®.
  
  The new, Free and unlimited plan makes SublimeVideo Player easily and instantly accessible to anyone looking to add a state-of-the-art HTML5 Video player to their site.
  
  "With Adobe's recent decision to stop development of Mobile Flash and fully embrace HTML5, the demand for a universal video player that ‘just works' on any platform has never been greater. Moreover, it was always our ambition to help the Web move forwards by offering web publishers a quick and easy way to switch to HTML5 Video. For these reasons, we feel that now is the right time to unleash our player's potential by offering a free version of SublimeVideo to everyone." Said co-founder Mehdi Aminian.
  
  The new SublimeVideo also introduces an innovative, real-time video statistics platform, offering web publishers the unique ability to collect complete usage statistics for all platforms - whether mobile or desktop, HTML5 or Flash. For the first time, this provides publishers with an instant and comprehensive picture of their audience's video consumption.
  
  "Our new, Real-Time Stats platform is as universal as the player itself. We've always worked hard to ensure that SublimeVideo works consistently across a wide range of browsers and devices. We can once again reap the rewards of our universal, cloud-based architecture to bring this unique feature to our users." said lead developer and co-founder Zeno Crivelli.
  
  Customers can now take advantage of new, upgraded paid plans, benefiting from a far larger number of video views than before, Real-Time Statistics and increased data retention compared to the free plan, SSL Encryption and dedicated support.
  
  The company also announced that it will offer custom solutions to meet the specific requirements of its enterprise-class customers.
  
  Read more about this announcement at "http://blog.jilion.com":http://blog.jilion.com and find out more about the SublimeVideo HTML5 Video Player service at "http://sublimevideo.net":http://sublimevideo.net.
  
  *Pricing & Availability*
  
  SublimeVideo is available now in several configurations:
  
  The *Free* Plan offers: 
  
  * *Unlimited Video Plays* (with a discreet SublimeVideo badge)
  * Standard Stats (24-Hour Data Retention)
  * Forum Support
  
  The Plus Plan is available for *$9.90/month* or *$99/year*, and offers:
  
  * *200,000 Video Plays*
  * Real-Time Stats (365 Day Data Retention)
  * Email Support
  * SSL Serving
  
  The *Premium* Plan is available for *$49.90/month* or *$499/year*, and offers:
  
  * *1,000,000 Video Plays*
  * Real-Time Stats (Unlimited Data Retention)
  * VIP Email Support
  * SSL Serving
  
  For more details visit "http://sublimevideo.net/plans":http://sublimevideo.net/plans. 
  
  *About SublimeVideo*
  
  SublimeVideo® is the world's first cloud-based, HTML5 video player; a universal and pain-free solution that allows video to play flawlessly on any device or browser. SublimeVideo offers a slick and consistent UI across both HTML5 and Flash, delivering HTML5 wherever possible. Flash fallback is automatically activated when HTML5 is unsupported.
  
  SublimeVideo's cloud-based model offers Web publishers several unique advantages, including instant integration and automatic player updates to maintain complete compatibility with the constantly evolving browser and device landscape.
  
  SublimeVideo is a product by Jilion® SA - a startup company based in Lausanne, Switzerland.
  
  *Press Contact*
  
  Please contact us at "http://jilion.com/contact":http://jilion.com/contact or "info@jilion.com":mailto:info@jilion.com.
