.CodeRay .code {
  font-family:Monaco, Courier, monospace;
  font-size:13px;
  line-height:22px;
}

.CodeRay pre {
  width:800px;
  overflow:auto;
  color: #496594;
}

.CodeRay pre::-webkit-scrollbar {
  width:6px;
  height:6px;
}

.CodeRay pre::-webkit-scrollbar-button:start:decrement, #main code::-webkit-scrollbar-button:end:increment  {
  display:none;
}

.CodeRay pre::-webkit-scrollbar-track-piece  {
  background-color:#b9c8d8;
  -webkit-border-radius:6px;
}

.CodeRay pre::-webkit-scrollbar-thumb:horizontal {
  background-color:#657a8f;
  -webkit-border-radius:6px;
}


.CodeRay .tag, .CodeRay .attribute-name, .CodeRay .predefined, #content .CodeRay .line-numbers, #content .CodeRay .line-numbers a { color:#496594 }
.CodeRay .line-numbers:after { content: '.'; }
.CodeRay .comment { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .float { color:#739623 }                      /* float */
.CodeRay .function { color:#678DCB }
.CodeRay .key, .CodeRay .keyword { color:#d67722 }
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .local-variable { color:#7C97C4 }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .regexp { color:#509E4F }                      /* regex */
.CodeRay .string, .CodeRay .color  { color:#5e42ab }
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */