* {
  margin:0;
  padding:0;
}

body {
  background:#999;
  font-family:HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size:14px;
  color:#666;
}

#global {
  width:900px;
  margin:30px auto;
  padding:40px 30px 30px;
  background:#fff;
  position:relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

a#print {
  position:absolute;
  top:20px;
  right:20px;
  color:#fff;
  background:#000;
  padding:6px 10px 5px;
  text-decoration:none;
  text-transform:uppercase;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#global h2 {
  font-size:28px;
}

p.notes {
  width:60%;
  font-size:14px;
  line-height:20px;
  padding:20px 0 0;
}

table {
  width:100%;
  border-collapse:collapse;
}

#header {
  margin:20px 0 30px;
}

#header h3 {
  font-size:15px;
}

#header td {
  padding:10px 0;
  line-height:24px;
}

#header td.our_info {
  width:60%;
}

.invoice_info {
  width:80%;
  padding:15px 0 0;
  position:relative;
}

.invoice_info span.stamp {
  position:absolute;
  top:-60px;
  right:-20px;
  text-transform:uppercase;
  color:#000;
  padding:1px 5px 0;
  font-size:20px;
  font-weight:bold;
  border:5px solid #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.invoice_info span.stamp.paid {
  border-color:#16b508;
  color:#16b508;
}

.invoice_info span.stamp.failed {
  border-color:#b6000e;
  color:#b6000e;
}

/*.invoice_info span.stamp.open {
  border-color:#b6000e;
  color:#b6000e;
}
*/
#detail th, #detail td {
  border:1px solid #ddd;
  padding:4px 6px;
}

#detail .table_wrap {
  border:none;
  padding:0;
}

#detail td table td {
  border:none;
  border-top:1px solid #ddd;
}

#detail td table tr:first-child td {
  border-top:none;
}

#detail th {
  padding:15px 10px;
  background:#dedede;
  border-color:#ccc;
}

#detail .left {text-align:left}
#detail .right {text-align:right}

#detail td.title {
  vertical-align:top;
  padding:10px;
}

#detail td.title h3 {
  font-size:16px;
}

#detail .overages, #detail .period {
  font-size:12px;
}

#detail h4 {
  font-size:13px;
  padding:2px 0 4px;
}

#detail tr.subtotal {
  font-size:11px;
  font-weight:500;
  background:#eee;
}

#detail tr.subtotal td.right {
  padding:6px 10px;
}

#detail tr.subtotal strong {
  color:#666;
}

#detail tr.subtotal td.total {
  font-weight:bold;
  text-align:left;
  padding:6px 10px;
}

#detail td.total {
  text-align:right;
  padding:10px;
}

h2, h3, h4, th, strong {
  color:#000;
}