* {
  margin:0;
  padding:0;
}

html {min-height:100%;}

body {
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  font-size:14px;
  color:#4d5563;
  min-height:100%;
  background:#5d6778;
  background:-webkit-gradient(linear,left top,left bottom,from(#778091),to(#5d6778));
  background:-moz-linear-gradient(top, #778091, #5d6778);
  background-attachment:fixed;
  text-rendering:optimizeLegibility; /*HUGELY IMPORTANT*/
}

#header {
  min-width:1000px;
  height:61px;
  background:url(/images/embed/header_background.png) repeat-x;
}

#header_wrap {
  width:960px;
  margin:0 auto;
  padding:0 20px;
  position:relative;
}

#header h1 a {
  display:block;
  float:left;
  width:239px;
  height:32px;
  background:url(/images/embed/sublimevideo.png) no-repeat;
  position:relative;
  top:12px;
}

#header h1 a span {display:none;}

#main_menu {
  list-style-type:none;
  float:left;
  padding:16px 0 0 30px;
}

#main_menu li {
  float:left;
  padding-right:14px;
}

#main_menu li a {
  display:block;
  width:85px;
  height:24px;
  padding-top:5px;
  background:url(/images/embed/main_menu_background.png) no-repeat;
  color:#e9ddef;
  font-size:15px;
  letter-spacing:1px;
  font-weight:bold;
  text-align:center;
  text-shadow:#000 0 1px 0;
}

#main_menu li.active a, #main_menu li a:active {background-position:0 -29px;}

#header .right {
  position:absolute;
  right:20px;
  top:16px;
}

#header .right ul.extra_links {
  list-style-type:none;
  float:left;
  padding:8px 20px 0 0;
}

#header .right ul.extra_links li {
  float:left;
  font-size:12px;
  padding:0 10px 2px;
  border-left:1px solid #45384b;
}

#header .right ul.extra_links li:first-child {
  border-left:none;
}

#header .right ul.extra_links li a {
  color:#bfabc9;
  border-bottom:1px solid #45384b;
  -webkit-transition:0.6s color;
  -moz-transition:0.6s color;
}

#header .right ul.extra_links li a:hover {
  color:#fff;
}

#header .right a.user {
  float:left;
  display:block;
  height:29px;
  padding-right:6px;
  font-weight:600;
  font-size:13px;
  letter-spacing:1px;
  color:#e9ddef;
  text-shadow:#000 0 1px 0;
  position:relative;
}

#header .right a.user strong {
  background:url(/images/embed/header_btn_back_left.png) no-repeat;
  height:22px;
  padding:7px 4px 0 6px;
  display:block;
}

#header .right a.user span.icon {
  background:url(/images/embed/user_btn_icon.png) no-repeat 0 0;
  padding:0 0 1px 22px;
}

#header .right a.user span.corner {
  display:block;
  width:6px;
  height:29px;
  background:url(/images/embed/header_btn_back_right.png) no-repeat;
  position:absolute;
  top:0;
  right:0;
}

#header .right a.user:active strong, #header .right a.user:active span.corner, #header .right a.user.active strong, #header .right a.user.active span.corner {
  background-position:0 -29px;
}

#main_wrap {
  width:960px;
  margin:20px auto;
  padding:0 20px;
}

#main {
  background:url(/images/embed/textured_background.jpg);
  border:1px solid #313741;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -webkit-box-shadow:rgba(0,0,0,0.45) 0 3px 12px;
  -webkit-box-shadow:rgba(0,0,0,0.45) 0 3px 12px, inset 0 2px 1px rgba(255,255,255,0.8);
  -moz-box-shadow:rgba(0,0,0,0.45) 0 3px 12px, inset 0 1px 2px rgba(255,255,255,0.8);
  box-shadow:rgba(0,0,0,0.45) 0 3px 12px, inset 0 1px 2px rgba(255,255,255,0.8);
}

@media screen and (-webkit-min-device-pixel-ratio:0){

  #main {
    border:none;
  }
  
  #rounded_corners_fix {
    border:1px solid #313741;
    -webkit-border-radius:9px;
    padding:1px;
    margin:-1px;
  }

}

#white_halo {
  background:url(/images/embed/white_halo.png) center;
}

#content {
  padding:50px;
  text-shadow:rgba(255,255,255,0.75) 0 1px 0;
  position:relative;
}

#flash {
  position:absolute;
  top:-1px;
  left:40px;
  width:860px;
  height:40px;
  padding:0 10px;
  overflow:hidden;
}

#flash div {
  padding:9px 10px 0;
  height:22px;
  position:relative;
  font-weight:600;
  -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
  -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:4px;
  -moz-border-radius:0 0 4px 4px;
  border-radius:0 0 4px 4px;
}

#flash .notice {
  color:#6e5c33;
  background:#ffebbe;
  background:-webkit-gradient(linear,left top,left bottom,from(#fff1d1),to(#ffe9b4));
  background:-moz-linear-gradient(top, #fff1d1, #ffe9b4);
}

#flash .alert {
  color:#940000;
  text-shadow:rgba(255,255,255,0.5) 0 1px 0;
  background:#ffbebe;
  background:-webkit-gradient(linear,left top,left bottom,from(#ffd1d1),to(#ffb4b4));
  background:-moz-linear-gradient(top, #ffd1d1, #ffb4b4);
}

#content h2 {
  font-weight:100;
  font-size:46px;
  letter-spacing:-1px;
  line-height:35px;
  padding-bottom:15px;
}

#content form.main_form {
  padding:15px 0 10px;
  width:440px;
}

#content form.section {
  background:url(/images/embed/breakline.png) no-repeat -228px 100%;
  padding-bottom:20px;
}

h3.section_title {
  padding:10px 0 5px;
  font-size:20px;
  font-weight:600;
}

#content form .break {
  height:2px;
  background:url(/images/embed/breakline.png) no-repeat -228px 100%;
  margin:15px 0;
}

form .entry {
  position:relative;
  padding:6px 0;
}

form.p_bottom .entry.email, form.p_bottom .entry.password {
  padding-bottom:25px;
}

form label.icon {
  text-indent:-9999px;
  display:block;
  position:absolute;
}

form .first_name label.icon {
  width:17px;
  height:17px;
  background:url(/images/embed/fullname_field_icon.png) no-repeat;
  top:16px;
  left:10px;
}

form .email label.icon {
  width:17px;
  height:18px;
  background:url(/images/embed/email_field_icon.png) no-repeat;
  top:16px;
  left:10px;
}

form .password label.icon {
  width:13px;
  height:17px;
  background:url(/images/embed/password_field_icon.png) no-repeat;
  top:16px;
  left:12px;
}

form .site label.icon {
  width:16px;
  height:17px;
  background:url(/images/embed/site_field_icon.png) no-repeat;
  top:17px;
  left:10px;
}

form .card_number label.icon {
  width:20px;
  height:16px;
  background:url(/images/embed/card_field_icon.png) no-repeat;
  top:17px;
  left:10px;
}

form .feedback_subject label.icon {
  width:20px;
  height:16px;
  background:url(/images/embed/feedback_field_icon.png) no-repeat;
  top:17px;
  left:10px;
}

form input.text, form textarea.text {
  width:400px;
  height:34px;
  line-height:36px;
  padding:0 0 0 38px;
  background:#e6eaf1;
  border:1px solid #8a92a0;
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  font-size:18px;
  color:#4d5157;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-box-shadow:rgba(255,255,255,0.6) 0 1px 0;
  -webkit-box-shadow:rgba(255,255,255,0.6) 0 1px 0, inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow:rgba(255,255,255,0.6) 0 1px 0, inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow:rgba(255,255,255,0.6) 0 1px 0, inset 0 1px 2px rgba(0,0,0,0.3);
  -webkit-transition:0.5s background;
  -moz-transition:0.5s background;
  -webkit-background-clip:padding-box;
}

form textarea.text {
  width:428px;
  height:200px;
  resize:vertical;
  padding:8px 0 8px 10px;
  line-height:23px;
}

form input.text.no_icon {
  width:428px;
  padding-left:10px;
}

form .left_field, form .right_field {
  float:left;
}

form .left_field input {
  width:178px;
  margin-right:10px;
}

form .left_field input.no_icon {width:206px;}

form .right_field input, form .right_field input.no_icon {
  width:200px;
}

form input.text.small {
  width:58px;
  height:26px;
  padding:0;
  line-height:30px;
  text-align:center;
}

form input.text:focus, form textarea.text:focus {
  background:#fff;
  outline-color:#0085c8;
}

form input.text::-webkit-input-placeholder, form textarea.text::-webkit-input-placeholder {color:#8896ae;}
form input.text.placeholder, form textarea.text.placeholder {color:#8896ae;}

form input.text.errors, form textarea.text.errors {
  background:#fadddd;
}

form input.text.errors::-webkit-input-placeholder, form textarea.text.errors::-webkit-input-placeholder {color:#d88282;}
form input.text.errors.placeholder, form textarea.text.errors.placeholder {color:#d88282;}

.popup form input.text {
  border-color:#6f7681;
}

form.edit input.text  {
  width:400px;
  padding:0 0 0 6px;
}

form .inline_errors span {
  padding:2px 4px 2px;
  font-size:12px;
  color:#fff;
  text-shadow:none;
  display:inline;
  position:relative;
  top:1px;
  left:10px;
  border-top:1px solid #690e0e;
  z-index:2;
  background:#9c1818;
  background:-webkit-gradient(linear,left top,left bottom,from(#991f1f),to(#c42b2b));
  background:-moz-linear-gradient(top, #991f1f, #c42b2b);
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:4px;
  -moz-border-radius:0 0 4px 4px;
  border-radius:0 0 4px 4px;
  -webkit-box-shadow:rgba(0,0,0,0.7) 0 1px 2px;
  -webkit-box-shadow:rgba(0,0,0,0.7) 0 1px 2px, inset rgba(0,0,0,0.35) 0 1px 4px;
  -moz-box-shadow:rgba(0,0,0,0.7) 0 1px 2px, inset rgba(0,0,0,0.35) 0 1px 4px;
  box-shadow:rgba(0,0,0,0.7) 0 1px 2px, inset rgba(0,0,0,0.35) 0 1px 4px;
}

.global_errors {
  padding:10px;
  margin:0 0 10px;
  background:#a70000;
  background:-webkit-gradient(linear,left top,left bottom,from(#bf0000),to(#960101));
  background:-moz-linear-gradient(top, #bf0000, #960101);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:rgba(255,255,255,0.7) 0 1px 0, inset rgba(0,0,0,0.5) 0 1px 3px;
  -moz-box-shadow:rgba(255,255,255,0.7) 0 1px 0, inset rgba(0,0,0,0.5) 0 1px 3px;
  box-shadow:rgba(255,255,255,0.7) 0 1px 0, inset rgba(0,0,0,0.5) 0 1px 3px;
}

.global_errors p {
  background:url(/images/embed/warning_icon.png) no-repeat 0 0;
  padding:2px 0 2px 35px;
  color:#fff;
  font-size:18px;
  text-shadow:rgba(0,0,0,0.3) 0 -1px 0;
}

form p.note, #content form label.note {
  display:block;
  padding:2px 0 2px 22px;
  margin-top:15px;
  font-size:13px;
  font-weight:600;
  background:url(/images/embed/note_icon.png) no-repeat;
}

#content form label.note {
  margin:0 0 5px;
}

#content form .entry .checkbox_wrap {
  margin:13px 0 6px;
  position:relative;
}

#content form.section .entry .checkbox_wrap {margin-top:5px;}
#content form .entry.use .checkbox_wrap {margin:3px 2px;}

#content form .entry .checkbox_wrap input {
  float:left;
  position:relative;
  top:0;
  left:0;
  opacity:0;
}

@media all and (max-device-width: 1024px) {
  #content form .entry .checkbox_wrap input {
    top:5px;
    z-index:2;
  }
}

#content form .entry .checkbox_wrap label {
  position:relative;
  left:-5px;
  display:block;
  height:20px;
  padding:6px 0 0 27px;
  background:url(/images/embed/custom_checkbox.png) no-repeat;
}

/* Original concept by http://www.thecssninja.com/css/custom-inputs-using-css */
#content form .entry .checkbox_wrap input:checked + label {background-position:0 -26px;}
#content form .entry .checkbox_wrap input:focus + label {background-position:0 -52px;}
#content form .entry .checkbox_wrap input:focus:checked + label {background-position:0 -78px;}


#content form .entry .radio_wrap {
  margin:0 15px 6px 0;
  position:relative;
  float:left;
}

#content form .entry .radio_wrap input {
  float:left;
  position:relative;
  top:0;
  left:0;
  opacity:0;
}

#content form .entry .radio_wrap label {
  position:relative;
  left:-5px;
  display:block;
  height:20px;
  padding:6px 0 0 27px;
  background:url(/images/embed/custom_radio.png) no-repeat;
}

/* Original concept by http://www.thecssninja.com/css/custom-inputs-using-css */
#content form .entry .radio_wrap input:checked + label {background-position:0 -26px;}
#content form .entry .radio_wrap input:focus + label {background-position:0 -52px;}
#content form .entry .radio_wrap input:focus:checked + label {background-position:0 -78px;}

#content form .entry .radio_wrap .inline_errors {
  position:absolute;
  left:160px;
  top:3px;
  white-space:nowrap;
}

#content form .checkbox_wrap .inline_errors {
  position:static;
  margin:4px 0 6px;
}

#content form .entry .radio_wrap .inline_errors span, #content form .checkbox_wrap .inline_errors span {
  border:none;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:rgba(0,0,0,0.7) 0 1px 2px;
  -moz-box-shadow:rgba(0,0,0,0.7) 0 1px 2px;
  box-shadow:rgba(0,0,0,0.7) 0 1px 2px;
}

#content form .checkbox_wrap .inline_errors span {left:0;}

#content form .entry.card label span {
  display:block;
  text-indent:-9999px;
  width:43px;
  height:29px;
  position:relative;
  top:-6px;
}

#content form .entry.card label.visa span {background:url(/images/embed/credit_cards/visa.png) no-repeat;}
#content form .entry.card label.master span {background:url(/images/embed/credit_cards/mastercard.png) no-repeat;}

#content form .entry.small_field input.text {
  width:90px;
  padding-left:6px;
}

#content form .entry.small_field .inline_errors span {
  left:4px;
}

#content form .entry.select.float, #content form .entry.small_field {
  float:left;
  width:39%;
  margin-bottom:15px;
}

#content form .entry.select.float label, #content form .entry.small_field label {
  display:block;
  padding:0 0 5px;
  color:#6b7688;
  font-weight:600;
}

#content form .entry.select select {
  margin-right:6px;
  font-size:13px;
  background:#fefefe;
  background:-moz-linear-gradient(top, #fff, #ced3da);
  border:1px solid #8a92a0;
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  font-size:18px;
  color:#4d5563;
  text-shadow:#fff 0 1px 0;
  padding:5px;
  border-radius:4px;
  -moz-border-radius:4px;
  -moz-box-shadow:rgba(255,255,255,0.4) 0 1px 0;
  box-shadow:rgba(255,255,255,0.4) 0 1px 0;
}

#content form .entry.select .left_field select {
  width:218px;
  margin-right:10px;
}

#content form .entry.select .right_field select {
  width:212px;
  margin-right:0;
}

#content form .entry.select select option {
  padding-right:10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
  #content form .entry.select select {
    margin-right:6px;
    height:36px;
    padding:2px 22px 0 10px;
    background:url(/images/embed/custom_select.png) no-repeat right center;
    border:1px solid #8a92a0;
    font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
    font-size:18px;
    color:#4d5563;
    text-shadow:#fff 0 1px 0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -webkit-box-shadow:rgba(255,255,255,0.4) 0 1px 0;
    box-shadow:rgba(255,255,255,0.4) 0 1px 0;
    -webkit-appearance:none;
  }

  #content form .entry.select select:focus {
    outline:auto 5px -webkit-focus-ring-color;
    outline-offset:-2px;
    outline-color:#0085c8;
  }
}

#content .entry.use {
  padding:20px 0 0;
}

#content label.main {
  font-weight:600;
  font-size:16px;
}

#company_fields_box {
  padding:10px 0;
}

#content .entry.terms {
  background:url(/images/embed/breakline.png) no-repeat -228px 0;
  padding:10px 0 54px;
  margin-top:10px;
}

#content .entry.terms label {
  font-size:14px;
  line-height:18px;
}

#content .entry.terms a {
  border-bottom:1px solid #8f99ab;
}

#content .entry.submit {
  background:url(/images/embed/breakline.png) no-repeat -228px 0;
  padding:25px 0 0;
  margin-bottom:0;
}

#content .entry.submit input {
  width:144px;
  height:76px;
  background:url(/images/embed/submit_btn.png) no-repeat;
  border:none;
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  font-size:22px;
  text-align:center;
  color:#4d5563;
  text-shadow:rgba(255,255,255,0.45) 0 1px 0;
  font-weight:600;
  position:relative;
  top:-5px;
  left:-10px;
  float:left;
  margin-right:6px;
  outline:0;
}

#content .entry.submit.signup input {
  background:url(/images/embed/signup_btn.png) no-repeat;
  color:#fff;
  text-shadow:rgba(0,0,0,0.9) 0 -1px 1px;
  font-weight:400;
}

#content .entry.submit input:active {background-position:0 -76px;}
#content .entry.submit input:focus {background-position:0 -152px;}
#content .entry.submit input:active:focus {background-position:0 -228px;}

#content .entry.submit p.note {
  font-size:12px;
  line-height:20px;
  padding-top:3px;
  color:#737b8a;
  font-weight:normal;
  font-style:normal;
}

#content .entry.submit p.note.big {
  font-size:14px;
  padding-top:13px;
}

form .entry.update {
  padding-top:10px;
}

form .entry a.cancel {
  font-size:13px;
  font-weight:600;
}

#content ul.session_links {
  list-style-type:none;
  padding:24px 0 4px 10px;
  line-height:20px;
  font-size:12px;
}

#content ul.session_links li.signup {
  font-weight:bold;
  font-size:16px;
}

#content ul.session_links a {
  border-bottom:1px solid #999;
}

#get_an_invitation {
  width:420px;
  height:338px;
  background:url(/images/embed/vertical_breakline.png) no-repeat;
  position:absolute;
  top:40px;
  right:0;
}

#get_an_invitation .wrap {
  width:208px;
  margin:125px auto 0;
}

#get_an_invitation h3 {
  font-size:20px;
  font-weight:600;
  padding-bottom:10px;
  text-align:center;
}

#get_an_invitation a.button {
  display:block;
  margin:0 auto;
  width:192px;
  height:33px;
  padding:11px 0 0 14px;
  background:url(/images/embed/get_an_invitation_button.png) no-repeat;
  color:#405f92;
  font-size:20px;
  font-weight:600;
  text-shadow:rgba(255,255,255,0.7) 0 1px 0;
}

#get_an_invitation a.button:active {background-position:0 -44px}

#signup_quotes {
  width:390px;
  position:absolute;
  right:20px;
  top:50px;
  font-family:Georgia, Times, serif;
}

#signup_quotes blockquote {
  font-size:22px;
  font-style:italic;
  line-height:30px;
  padding:30px 70px 0 30px;
/*  text-indent:25px;*/
}

#signup_quotes blockquote:before, #signup_quotes blockquote:after {
  color:#929aa7;
  display:block;
  font-size:78px;
  width:50px;
  text-indent:0;
}

#signup_quotes blockquote:before {
  content:"“";
  height:0;
  margin-left:-40px;
  position:relative;
  top:5px;
}

#signup_quotes blockquote:after {
  content:"”";
  height:0;
  margin-left:90px;
}

#signup_quotes blockquote.oreilly:after {
  margin-left:100px;
}

#signup_quotes p.author {
  text-align:right;
  padding:0 55px 30px 0;
  color:#737b8a;
}

#signup_quotes p.author.oreilly {
  padding:0 85px 30px 0;
}

#content p.title_desc {
  width:440px;
  font-size:16px;
  line-height:22px;
  color:#737b8a;
  padding:0 0 20px;
}

/* ============ */
/* = My Sites = */
/* ============ */

#new_site_wrap {
  width:668px;
  position:relative;
}

/*#new_site_wrap .spinner {
  position:absolute;
  right:80px;
  top:26px;
}

#new_site_wrap .spinner .label {
  position:absolute;
  left:45px;
  top:10px;
  white-space:nowrap;
  color:#666;
  font-style:italic;
}
*/
#content form.site {
  width:668px;
  background:url(/images/embed/breakline.png) no-repeat;
  padding:18px 0;
  position:relative;
}

#content form.site .entry.site {
  background:url(/images/embed/breakline.png) no-repeat 0 100%;
  padding-bottom:24px;
}

#content form.site .actions {
  position:absolute;
  top:18px;
  left:455px;
  width:130px;
}

#content form.site input.add, form input.submit.small {
  width:97px;
  height:48px;
  background:url(/images/embed/add_btn.png) no-repeat;
  border:none;
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  font-size:18px;
  font-weight:600;
  text-align:center;
  color:#4d5563;
  text-shadow:rgba(255,255,255,0.45) 0 1px 0;
  outline:0;
  position:relative;
  left:-5px;
}

#content form.site input.add:active, form input.submit.small:active {background-position:0 -48px;}
#content form.site input.add:focus, form input.submit.small:focus {background-position:0 -96px;}
#content form.site input.add:active:focus, form input.submit.small:active:focus {background-position:0 -144px;}

#content .main_table_wrap {
  border:1px solid #666;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -webkit-box-shadow:rgba(0,0,0,0.45) 0 1px 10px;
  -moz-box-shadow:rgba(0,0,0,0.45) 0 1px 10px;
  box-shadow:rgba(0,0,0,0.45) 0 1px 10px;
}

#content .main_table_wrap .dark_rounded_corners {
  margin:-1px;
}

#content table.main {
  width:100%;
  border-collapse:collapse;
  background:rgba(255,255,255,0.1);
  background:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.4)),to(rgba(255,255,255,0)));
  background:-moz-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0));
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

#content table.main tr.alt td:nth-child(odd), #content table.main tr td:nth-child(even) {background:rgba(0,0,0,0.1);}
#content table.main tr.alt td:nth-child(even) {background:rgba(0,0,0,0.2);}

#content table.main th {
  color:#e1d8e4;
  font-size:15px;
  text-shadow:#000 0 -1px 0;
  font-weight:600;
  padding:9px 12px 7px;
  border-bottom:1px solid #000;
  background:#2b1c31;
  background:-webkit-gradient(linear,left top,left bottom,from(#3e3045),to(#1a0d1f));
  background:-moz-linear-gradient(top, #3e3045, #1a0d1f);
  -webkit-box-shadow:inset rgba(0,0,0,0.5) 0 1px 0, inset #5b4564 0 2px 0;
  -moz-box-shadow:inset rgba(0,0,0,0.5) 0 1px 0, inset #5b4564 0 2px 0;
  box-shadow:inset rgba(0,0,0,0.5) 0 1px 0, inset #5b4564 0 2px 0;
}

#content table.main th:first-child {
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
  border-top-left-radius:10px;
  -webkit-box-shadow:inset rgba(0,0,0,0.5) 1px 1px 0, inset #5b4564 1px 2px 0;
  -moz-box-shadow:inset rgba(0,0,0,0.5) 1px 1px 0, inset #5b4564 1px 2px 0;
  box-shadow:inset rgba(0,0,0,0.5) 1px 1px 0, inset #5b4564 1px 2px 0;
}

#content table.main th.delete, #content table.main th.settings {
  width:18px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  -webkit-box-shadow:inset rgba(0,0,0,0.5) -1px 1px 0, inset #5b4564 -1px 2px 0;
  -moz-box-shadow:inset rgba(0,0,0,0.5) -1px 1px 0, inset #5b4564 -1px 2px 0;
  box-shadow:inset rgba(0,0,0,0.5) -1px 1px 0, inset #5b4564 -1px 2px 0;
}

#content table.main th.site {
  text-align:left;
  width:436px;
}

#content #sites_table_wrap table.main th.code, #content #sites_table_wrap table.main td.code {width:180px;}
#content table.main th.hits, #content table.main td.hits {width:152px !important;padding:0;}

#content table.main th .wrap {
  position:relative;
  width:100%;
  height:100%;
}

#content table.main th strong {
  padding-right:24px;
  position:relative;
}

#content table.main th .spinner {
  position:absolute;
  top:0;
  right:0;
}

#content table.main th .sorting {
  position:absolute;
  right:-5px;
  top:-4px;
}

#content table.main th a.sort {
  float:left;
  display:block;
  height:24px;
  padding-right:12px;
  margin-left:8px;
  font-weight:300;
  font-size:11px;
  text-transform:uppercase;
  letter-spacing:1px;
  color:#e1d8e4;
  text-shadow:#000 0 -1px 0;
  position:relative;
}

#content table.main th a.sort strong {
  background:url(/images/embed/sort_btn_background.png) no-repeat;
  height:18px;
  padding:6px 4px 0 3px;
  display:block;
}

#content table.main th a.sort span.arrow {
  background:url(/images/embed/sort_btn_arrow_down.png) no-repeat 100% 2px;
  padding:0 15px 0 0;
  position:relative;
  right:-8px;
  z-index:2;
}

#content table.main th a.sort.up span.arrow {background-image:url(/images/embed/sort_btn_arrow_up.png);}

#content table.main th a.sort span.corner {
  display:block;
  width:12px;
  height:24px;
  background:url(/images/embed/sort_btn_background_corner.png) no-repeat;
  position:absolute;
  top:0;
  right:0;
}

#content table.main th a.sort:active strong, #content table.main th a.sort:active span.corner, #content table.main th a.sort.active strong, #content table.main th a.sort.active span.corner {
  background-position:0 -24px;
}

#content table.main td {
  border-bottom:1px solid #777;
  padding:10px 0;
  text-align:center;
  -webkit-box-shadow:rgba(255,255,255,0.5) 0 2px 0;
  -moz-box-shadow:rgba(255,255,255,0.5) 0 1px 0;
  box-shadow:rgba(255,255,255,0.5) 0 1px 0;
}

#content table.main tr:last-child td {
  border:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

#content table.main tr:last-child td.site {
  -webkit-border-bottom-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  border-bottom-left-radius:10px;  
}

#content table.main tr:last-child td.delete {
  -webkit-border-bottom-right-radius:10px;
  -moz-border-radius-bottomright:10px;
  border-bottom-right-radius:10px;  
}

#content table.main td .wrap {position:relative;height:100%;}

#content table.main td.site {
  padding:20px 15px;
  text-align:left;
}

#content table.main td.site a.external_link {
  font-size:21px;
  font-weight:600;
  padding:4px 16px;
  border:1px solid #76899a;
  background:#c2d1de;
  background:-webkit-gradient(linear,left top,left bottom,from(#d1e0ed),to(#b6c4d1));
  background:-moz-linear-gradient(top, #d1e0ed, #b6c4d1);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  -webkit-box-shadow:rgba(255,255,255,0.5) 0 1px 0;
  -moz-box-shadow:rgba(255,255,255,0.5) 0 1px 0;
  box-shadow:rgba(255,255,255,0.5) 0 1px 0;
}

#content table.main tr.invalid td.site a.external_link {
  color:#623838;
  background:#ddc2c2;
  background:-webkit-gradient(linear,left top,left bottom,from(#ebcfcf),to(#d3b7b7));
  background:-moz-linear-gradient(top, #ebcfcf, #d3b7b7);
  border-color:#9a7676;
  padding-right:34px;
  position:relative;
}

#content table.main td.site a.external_link:active {
  background:-webkit-gradient(linear,left top,left bottom,from(#b6c4d1),to(#d1e0ed));
  background:-moz-linear-gradient(top, #b6c4d1, #d1e0ed);
}

#content table.main tr.invalid td.site a.external_link:active {
  background:-webkit-gradient(linear,left top,left bottom,from(#d3b7b7),to(#ebcfcf));
  background:-moz-linear-gradient(top, #d3b7b7, #ebcfcf);
}

#content table.main tr.invalid td.site a.external_link span.invalid {
  display:block;
  width:21px;
  height:19px;
  background:url(/images/embed/sites/invalid_icon.png) no-repeat;
  position:absolute;
  top:7px;
  right:8px;
}

#content table.main tr.invalid td.site a.external_link span.invalid em {display:none;}

#content table.main td.edit .settings {
  display:block;
  width:24px;
  height:24px;
  background:url(/images/embed/settings_btn.png) no-repeat;
/*  position:absolute;
  top:1px;
  right:29px;
*/}

#content table.main td.edit .settings span {display:none;}

#content table.main td.edit .settings.disabled {
  opacity:0.4;
  cursor:default;
}

/*#content table.main td.site:hover em.date {display:block}

#content table.main td.site em.date {
  position:absolute;
  top:-14px;
  right:-10px;
  font-size:9px;
  font-style:normal;
  text-transform:uppercase;
  color:#666;
  display:none;
}
*/
#content table.main td.code a.embed_code {
  display:block;
  width:186px;
  height:30px;
  background:url(/images/embed/embed_btn.png) no-repeat;
  padding-top:9px;
  margin:0 auto;
  font-size:16px;
  text-transform:uppercase;
  letter-spacing:1px;
  color:#fff;
  text-shadow:#000 0 -1px 0;
}

#content table.main td.code a.embed_code:active {background-position:0 -39px;}

#content table.main td.code .in_progress {
  font-size:17px;
}

#content table.main td.code .in_progress em {
  padding-right:15px;
  background:url(/images/embed/dot_loading.gif) no-repeat 100% 11px;
}

#content table.main td.code .in_progress img {
  position:relative;
  top:2px;
  left:-1px;
}

#content table.main td.hits:hover {
  padding:0;
}

#content table.main td.hits strong {
  font-weight:600;
  font-size:24px;
}

/*#content table.main td.hits:hover strong {display:none;}*/

#content table.main td.hits table, #content table.main td.hits table tr, #content table.main td.hits table th, #content table.main td.hits table td {
  background:none !important;
  padding:0;
  margin:0;
  border:0;
  -webkit-border-radius:none;
  -moz-border-radius:none;
  border-radius:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

#content table.main td.hits table {
  display:none;
  border-collapse:collapse;
  width:152px !important;
  height:64px;
}

/*#content table.main td.hits:hover table {display:table;}
*/
#content table.main td.hits table th, #content table.main td.hits table td {
  height:32px;
}

#content table.main td.hits table th.requests, #content table.main td.hits table td.requests {
  border-bottom:1px solid #999;
  -webkit-box-shadow:rgba(255,255,255,0.5) 0 2px 0;
  -moz-box-shadow:rgba(255,255,255,0.5) 0 1px 0;
  box-shadow:rgba(255,255,255,0.5) 0 1px 0;
}

#content table.main td.hits table th {
  width:80px !important;
  text-align:left;
}

#content table.main td.hits table th h5 {
  padding-left:10px;
  font-size:13px;
  font-weight:600;
  color:#4d5563;
  text-shadow:rgba(255,255,255,0.4) 0 1px 0;
}

#content table.main td.hits table td {
  width:72px !important;
}

#content table.main td.delete a, #content table.main td.delete input {
  text-indent:-9999px;
  display:block;
  width:20px;
  height:22px;
  background:url(/images/embed/trash_btn.png) no-repeat;
  margin:0 10px;
  border:none;
}

#content table.main td.delete input:disabled {
  opacity:0.3;
}


.popup {
  width:450px;
/*  height:300px;*/
  position:fixed;
  margin:auto;
  top:20%;
  left:0;
  right:0;
  z-index:999;
  border:1px solid #000;
  padding:9px;
  text-shadow:rgba(255,255,255,0.75) 0 1px 0;
  background:#393939;
  background:-webkit-gradient(linear,left top,left bottom,from(#505050),to(#222222));
  background:-moz-linear-gradient(top, #505050, #222222);
  -webkit-box-shadow:#000 0 5px 60px;
  -webkit-box-shadow:#000 0 5px 60px, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow:#000 0 5px 60px, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow:#000 0 5px 60px, inset rgba(255,255,255,0.4) 0 1px 0;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.popup .wrap {
/*  height:100%;*/
  border:1px solid #000;
  background:#b9bdc7;
  background:-webkit-gradient(linear,left top,left bottom,from(#c6cad4),to(#a7abb5));
  background:-moz-linear-gradient(top, #c6cad4, #a7abb5);
  -webkit-box-shadow:inset rgba(0,0,0,1) 0 1px 6px;
  -moz-box-shadow:inset rgba(0,0,0,1) 0 1px 6px;
  box-shadow:inset rgba(0,0,0,1) 0 1px 6px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-background-clip:padding-box;
}

.popup .content {
  padding:20px;
}

.popup.loading .content {
  height:130px;
  background:url(/images/embed/big_spinner.gif) no-repeat center;
}

.popup .content h3 {
  font-size:24px;
  font-weight:normal;
  padding-bottom:5px;
}

.popup .content h3 strong {
  font-weight:600;
}

.popup .content h3 em {
  font-style:normal;
  font-weight:normal;
  font-size:14px;
  color:#737B8A;
}

.popup .content p.desc {
  padding:5px 0;
  line-height:21px;
}

.popup .content p.desc.small {
  font-size:13px;
}

.popup .content p.desc a {
  font-weight:600;
  border-bottom:1px solid #7f858f;
}

.popup .content .note {
  background:rgba(255,255,255,0.3);
  padding:8px 10px;
  line-height:18px;
  margin:10px 2px 0 0;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
}

.popup .content .note a {
  font-weight:600;
  border-bottom:1px solid #7f858f;
}

.popup .content code {
  font-family:Monaco, monospace;
  color:#5f759d;
}

.popup .content textarea {
  width:385px;
  height:120px;
  padding:5px 10px;
  margin-top:10px;
  font-family:Monaco, monospace;
  font-size:16px;
  line-height:27px;
  color:#787d8a;
  border:1px solid #70747a;
  resize:none;
}

.popup .content form.edit .entry {
/* Commented by Thibaud */
/*  padding:35px 0 70px;*/
}

.popup .content form.edit .entry label {
  font-size:18px;
  font-weight:bold;
}

.popup .content form.edit .entry p.desc {
  padding:2px 0;
}

.popup .content form.edit input.update {
  position:absolute;
  bottom:30px;
  left:30px;
}

.popup a.close {
  display:block;
  width:32px;
  height:32px;
  background:url(/images/embed/close_btn.png) no-repeat;
  position:absolute;
  top:-16px;
  left:-16px;
}

.popup a.close span {display:none;}

.pagination_wrap {
  position:relative;
}

.pagination {
  margin:0 auto;
  display:table;
  position:relative;
  padding:15px 25px 0;
}

.pagination .previous_page {
  display:block;
  text-indent:-9999px;
  background:url(/images/embed/paginate_arrow_left.png) no-repeat;
  width:17px;
  height:18px;
  margin-right:10px;
  float:left;
}

.pagination span.previous_page {opacity:0.3;}

.pagination .next_page {
  display:block;
  text-indent:-9999px;
  background:url(/images/embed/paginate_arrow_right.png) no-repeat;
  width:17px;
  height:18px;
  margin-left:10px;
  float:right;
}

.pagination span.next_page {opacity:0.3;}

.pagination a.page_link {
  text-shadow:none;
  font-size:12px;
  padding:2px 6px 1px;
  float:left;
}

.pagination em.current_page {
  float:left;
  font-style:normal;
  background:#9da3b1;
  font-size:12px;
  text-shadow:rgba(255,255,255,0.4) 0 1px 0;
  padding:2px 6px 1px;
  -webkit-border-radius:8px;
  -moz-border-radius:10px;
  border-radius:8px;
  -webkit-box-shadow:rgba(255,255,255,0.5) 0 1px 0;
  -moz-box-shadow:rgba(255,255,255,0.5) 0 1px 0;
  box-shadow:rgba(255,255,255,0.5) 0 1px 0;
}

.pagination span.gap {
  float:left;
}

.page_info {
  position:absolute;
  top:15px;
  left:0;
  font-size:13px;
}

#credit_card_summary {
  background:url(/images/embed/breakline.png) no-repeat -228px 100%;
  padding:10px 0 20px;
}

#credit_card_summary p {
  padding:7px 0 10px 55px;
  width:385px;
  font-size:15px;
  margin-top:10px;
}

#credit_card_summary p.master {background:url(/images/embed/credit_cards/master.png) no-repeat;}

#credit_card_summary p.visa {background:url(/images/embed/credit_cards/visa.png) no-repeat;}

#credit_card_summary p a {
  float:right;
  font-size:12px;
  font-weight:600;
  border-bottom:1px solid #929fb6;
}

#credit_card_summary p strong {font-weight:600;}

#past_invoices {
  background:url(/images/embed/breakline.png) no-repeat -228px 100%;
  padding:10px 0 20px;
}

.popup table.stats {
  border-collapse:collapse;
  width:100%;
  margin-top:10px;
}

.popup table.stats th {
  padding:4px 0;
}

.popup table.stats td {
  text-align:center;
  padding:6px 0;
  border-top:1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow:inset rgba(255,255,255,0.3) 0 1px 0;
  -moz-box-shadow:inset rgba(255,255,255,0.3) 0 1px 0;
  box-shadow:inset rgba(255,255,255,0.3) 0 1px 0;
}

.popup table.stats th.site, .popup table.stats td.site {
  text-align:left;
}

.popup table.stats td.player_hits strong, .popup table.stats td.requests strong {
  font-weight:normal;
}

.popup table.stats td.player_hits em, .popup table.stats td.requests em {
  display:none;
  font-style:normal;
}

.popup table.stats td.player_hits:hover strong, .popup table.stats td.requests:hover strong {display:none;}
.popup table.stats td.player_hits:hover em, .popup table.stats td.requests:hover em {display:block;}

.popup table.stats td.big_total {
  font-size:16px;
}

div.text {
  width:640px;
  line-height:18px;
  padding:20px 0 0;
}

div.text .uppercase {
  text-transform:uppercase;
}

div.text p {
  padding:5px 0;
}

div.text h3 {
  padding:25px 0 14px;
  font-size:22px;
}

div.text > ol {
  padding:5px 0;
  list-style-type:none;
}

div.text ol ol {
  padding-left:18px;
  list-style-type:none;
}

div.text ol li {
  padding:5px 0;
}

div.text ol ol ol {list-style-type:lower-latin}
div.text ol ol ol ol {list-style-type:lower-roman}

div.text ol ol li {
  position:relative;
  padding-left:12px;
}

div.text ol ol li span.number {
  position:absolute;
  top:5px;
  left:-18px;
}

div.text ol ol ol li, div.text ol ol ol ol li {
  padding-left:0;
  position:static;
}

div.text a {
  color:#323b4e;
  border-bottom:1px solid #9da5b9;
}

#footer {
  width:920px;
  margin:25px auto;
/*  text-align:center;*/
  font-size:13px;
/*  font-weight:600;*/
  color:#1b263a;
  text-shadow:rgba(255,255,255,0.2) 0 1px 0;
}

#footer a {
  color:#1b263a;
  border-bottom:1px solid #4d5973;
}

#footer p.right {
  float:right;
}

#footer p.copyright {
  font-size:12px;
  text-align:center;
  padding:20px 0;
  color:#2d3a53;
}

.spacer {clear:both;}
.spacer_border {
  height:2px;
  background:url(/images/embed/breakline.png) no-repeat 0 100%;
}

a {
  text-decoration:none;
  outline:none;
  color:#4d5563;
}

input::-moz-focus-inner, button::-moz-focus-inner { border:0; }