* {
  margin:0;
  padding:0;
}

html {height:100%}

body {
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  font-size:14px;
  color:#4d5563;
  height:100%;
  background:#5d6778;
  background:-webkit-gradient(linear,left top,left bottom,from(#778091),to(#5d6778));
  background:-moz-linear-gradient(top, #778091, #5d6778);
}

#header {
  height:61px;
  background:url(/images/embed/header_background.png) repeat-x;
}

#header_wrap {
  width:960px;
  margin:0 auto;
  padding:0 20px;
  position:relative;
}

#header h1 a {
  display:block;
  width:202px;
  height:32px;
  background:url(/images/embed/sublimevideo.png) no-repeat;
  position:relative;
  top:12px;
}

#header h1 a span {display:none;}

#main_menu {
  list-style-type:none;
  display:none;
}

#header .right {
  position:absolute;
  right:20px;
  top:16px;
}

#header .right ul.extra_links {
  list-style-type:none;
  float:left;
  padding:7px 20px 0 0;
}

#header .right ul.extra_links li {
  float:left;
  font-size:12px;
  padding:0 10px 2px;
  border-left:1px solid #45384b;
}

#header .right ul.extra_links li:first-child {
  border-left:none;
}

#header .right ul.extra_links li a {
  color:#bfabc9;
  border-bottom:1px solid #45384b;
  -webkit-transition:0.6s color;
  -moz-transition:0.6s color;
}

#header .right ul.extra_links li a:hover {
  color:#fff;
}

#header .right a.user {
  float:left;
  display:block;
  height:29px;
  padding-right:6px;
  font-weight:600;
  letter-spacing:1px;
  color:#e9ddef;
  text-shadow:#000 0 1px 0;
  position:relative;
}

#header .right a.user strong {
  background:url(/images/embed/header_btn_back_left.png) no-repeat;
  height:23px;
  padding:6px 4px 0 6px;
  display:block;
}

#header .right a.user span.icon {
  background:url(/images/embed/user_btn_icon.png) no-repeat 0 1px;
  padding:0 0 1px 22px;
}

#header .right a.user span.corner {
  display:block;
  width:6px;
  height:29px;
  background:url(/images/embed/header_btn_back_right.png) no-repeat;
  position:absolute;
  top:0;
  right:0;
}

#header .right a.user:active strong, #header .right a.user:active span.corner {
  background-position:0 -29px;
}

#main_wrap {
  width:960px;
  margin:20px auto;
  padding:0 20px;
}

#main {
  background:url(/images/embed/textured_background.jpg);
  border:1px solid #313741;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -webkit-box-shadow:rgba(0,0,0,0.45) 0 3px 12px;
  -webkit-box-shadow:rgba(0,0,0,0.45) 0 3px 12px, inset 0 2px 1px rgba(255,255,255,0.8);
  -moz-box-shadow:rgba(0,0,0,0.45) 0 3px 12px, inset 0 1px 2px rgba(255,255,255,0.8);
  box-shadow:rgba(0,0,0,0.45) 0 3px 12px, inset 0 1px 2px rgba(255,255,255,0.8);
}

@media screen and (-webkit-min-device-pixel-ratio:0){

  #main {
    border:none;
  }
  
  #rounded_corners_fix {
    border:1px solid #313741;
    -webkit-border-radius:9px;
    padding:1px;
    margin:-1px;
  }

}

#white_halo {
  background:url(/images/embed/white_halo.png) center;
}

#content {
  padding:50px;
  text-shadow:rgba(255,255,255,0.75) 0 1px 0;
  position:relative;
}

#content h2 {
  font-weight:100;
  font-size:46px;
  letter-spacing:-1px;
  line-height:35px;
  padding-bottom:15px;
}

#content form.register {
  padding:15px 0 10px;
  width:440px;
}

#content form .entry {
  position:relative;
  padding:6px 0;
}

#content form label.icon {
  text-indent:-9999px;
  display:block;
  position:absolute;
}

#content form .full_name label.icon {
  width:17px;
  height:17px;
  background:url(/images/embed/fullname_field_icon.png) no-repeat;
  top:16px;
  left:10px;
}

#content form .email label.icon {
  width:17px;
  height:18px;
  background:url(/images/embed/email_field_icon.png) no-repeat;
  top:16px;
  left:10px;
}

#content form .password label.icon {
  width:13px;
  height:17px;
  background:url(/images/embed/password_field_icon.png) no-repeat;
  top:16px;
  left:12px;
}

#content form input.text {
  width:400px;
  height:34px;
  line-height:36px;
  padding:0 0 0 38px;
  background:#e6eaf1;
  border:1px solid #8a92a0;
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  font-size:18px;
  color:#4d5157;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-box-shadow:rgba(255,255,255,0.6) 0 1px 0;
  -webkit-box-shadow:rgba(255,255,255,0.6) 0 1px 0, inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow:rgba(255,255,255,0.6) 0 1px 0, inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow:rgba(255,255,255,0.6) 0 1px 0, inset 0 1px 2px rgba(0,0,0,0.3);
  -webkit-transition:0.5s background;
  -moz-transition:0.5s background;
}

#content form input.text:focus {
  background:#fff;
  outline-color:#0085c8;
}

#content form input.text::-webkit-input-placeholder, #content form input.text.placeholder {
  color:#8896ae;
}

#content form input.text.errors {
  background:#fadddd;
}

#content form input.text.errors::-webkit-input-placeholder, #content form input.text.errors.placeholder {
  color:#901515;
}

#content form .inline_errors {
  padding:2px 0 0;
  font-size:12px;
  color:#901515;
}

#content form .entry .show_password {
  margin:13px 0 0;
  position:relative;
}

#content form .entry .show_password input {
  float:left;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
}

#content form .entry .show_password label {
  height:15px;
  padding:0 0 0 20px;
  background:url(/images/embed/custom_checkbox.png) no-repeat;
}

/* Original concept by http://www.thecssninja.com/css/custom-inputs-using-css */
#content form .entry .show_password input:checked + label {
  background-position:0 -17px;
}

#content .entry.submit {
  background:url(/images/embed/breakline.png) no-repeat -228px 0;
  padding:25px 0 0;
  margin-bottom:0;
}

#content .entry.submit input {
  width:134px;
  height:66px;
  background:url(/images/embed/signup_btn.png) no-repeat;
  border:none;
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  font-size:22px;
  text-align:center;
  color:#fff;
  text-shadow:rgba(0,0,0,0.45) 0 -1px 0;
  position:relative;
  left:-5px;
  float:left;
  margin-right:10px;
}

#content .entry.submit input:active {
  background-position:0 -66px;
}

#content .entry.submit p.note {
  font-size:12px;
  line-height:20px;
  padding:3px 0 0;
  color:#737b8a;
}

#signup_quotes {
  width:390px;
  position:absolute;
  right:20px;
  top:50px;
  font-family:Georgia, Times, serif;
}

#signup_quotes blockquote {
  font-size:22px;
  font-style:italic;
  line-height:30px;
  padding:30px 70px 0 30px;
/*  text-indent:25px;*/
}

#signup_quotes blockquote:before, #signup_quotes blockquote:after {
  color:#929aa7;
  display:block;
  font-size:78px;
  width:50px;
  text-indent:0;
}

#signup_quotes blockquote:before {
  content:"“";
  height:0;
  margin-left:-40px;
  position:relative;
  top:5px;
}

#signup_quotes blockquote:after {
  content:"”";
  height:0;
  margin-left:90px;
}

#signup_quotes blockquote.oreilly:after {
  margin-left:100px;
}

#signup_quotes p.author {
  text-align:right;
  padding:0 55px 30px 0;
  color:#737b8a;
}

#signup_quotes p.author.oreilly {
  padding:0 85px 30px 0;
}

#footer {
  width:1000px;
  margin:10px auto;
  text-align:center;
  font-size:13px;
  font-weight:600;
  color:#1b263a;
  text-shadow:rgba(255,255,255,0.3) 0 1px 0;
}

.spacer {clear:both;}

a {
  text-decoration:none;
  outline:none;
  color:#4d5563;
}