- kit = exhibit(kit)
%li[kit]{ class: cycle('left', 'right') }
  = kit.render_name_as_link(self, site)

  %video{ class: 'sublime', poster: '//media.jilion.com/images/midnight_sun_800.jpg', width: '320', height: '180', preload: 'none' }
    %source{ src: '//media.jilion.com/videos/demo/midnight_sun_sv1_1_360p.mp4' }
    %source{ src: '//media.jilion.com/videos/demo/midnight_sun_sv1_1_270p.mp4' }
    %source{ src: '//media.jilion.com/videos/demo/midnight_sun_sv1_1_360p.webm' }

  = link_to 'Edit', edit_site_kit_path(site, kit), class: 'edit_kit'
  = form_for [site, kit], style: 'display:inline' do |f|
    .actions= f.submit 'Duplicate', class: 'submit'
