.plays
  %strong= number_with_delimiter(site.last_30_days_main_video_views + site.last_30_days_extra_video_views + site.last_30_days_embed_video_views)
  %span= "plays"
= link_to 'Add real-time video statistics to your site', site_addons_url(site)
