- if current_user.balance > 0
  #balance.dark_box
    %h4 Balance
    %p.current
      Current balance:
      %strong= display_amount(current_user.balance)
    %p.desc
      %em
        = raw "You have a balance due to the recent #{link_to 'SublimeVideo pricing changes', docs_page_url('plan-migration'), class: "hl"}."
        This balance will be automatically used for all your further invoices until it's empty.
