%h2 Actual monthly revenues

%table
  %tr
    %th Month
    %th $$ (incl. VAT) from CH customers
    %th $$ (excl. VAT) from not-CH customers
    %th $$ Total
  - month = @to
  - while month >= @from
    - invoices = Invoice.paid.paid_between(month.beginning_of_month, month.end_of_month)
    %tr{ style: month.end_of_month > 1.month.ago ? "font-style:italic;" : "" }
      %td= l month.end_of_month, format: :month_fullyear
      %td= display_amount invoices.where(customer_country: 'CH').sum(:amount)
      %td= display_amount invoices.where("customer_country = ? OR customer_country != ?", nil, 'CH').sum(:amount)
      %td= display_amount invoices.sum(:amount)
    - month -= 1.month
