= title_and_content_header("Your account is suspended")

%ul
  %li
    = link_to edit_credit_card_path do
      %strong= "Update your Credit Card"
      %span
        %em= "Please update your credit card to unsuspend your account"