%h3#community_forum.title= "Community Forum"
.help_box
  %p= raw "If your issue isn't covered in our documentation then head over to our <a class='hl', href='#' onclick='GSFN.goto_gsfn();'>Community Forum</a> and post a question. Before posting a new topic, try searching for your issue in the search box below - in most cases your question may have already been answered."

  = render 'pages/help/get_satisfaction_help_widget'
