%h3#community_forum.title= "Community Forum"
.help_box
  %p= raw "If your issue isn't covered in our documentation then head over to our #{link_to_function("community forum", "GSFN.goto_gsfn()", class: "hl")} and post a question. Before posting a new topic, try searching for your issue in the search box below - in most cases your question may have already been answered."

  = render 'pages/help/get_satisfaction_help_widget'
