.footnotes
  Notes:
  %ol
    %li Beta add-ons are free of charge during the beta period.
    %li Add-on prices are pro-rated per day.
    %li Invoices are issued and charged at the beginning of each month for the previous month.
    %li For Swiss clients, 8% of VAT will be added to the above prices.
%div{ id: "loader_code_popup_content_#{site.token}", style: 'display:none' }= render 'sites/code', site: site
