- title("Add-ons for #{hostname_or_token(@site)}")
= render 'layouts/site_header'
= render 'addons/index_content', site: @site, form_action: update_all_site_addons_path, submit_text: 'Confirm selection'
