development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000
  
test:
  # adapter: sqlite3
  # database: db/test<%= ENV['TEST_ENV_NUMBER'] %>.sqlite3 # for parallel
  # pool: 5
  # timeout: 5000
  
  # adapter: mysql
  # database: msv_test<%= ENV['TEST_ENV_NUMBER'] %> # for parallel
  # user: root
  # password: root
  
  adapter: postgresql
  encoding: utf8
  database: msv_test<%= ENV['TEST_ENV_NUMBER'] %> # for parallel
  user: 
  password: 
  host: localhost
  
production:
  adapter: sqlite3
  database: db/production.sqlite3
  pool: 5
  timeout: 5000