development:
  adapter: postgresql
  encoding: utf8
  database: msv_development
  host: localhost
  
test:
  adapter: postgresql
  encoding: utf8
  database: msv_test
  host: localhost

staging:
  adapter: postgresql
  encoding: utf8
  database: msv_staging
  host: localhost

production:
  adapter: postgresql
  encoding: utf8
  database: msv_production
  host: localhost
