<%
  # http://mislav.uniqpath.com/rails/branching-the-database-along-with-your-code/
  branch = `git symbolic-ref HEAD 2>/dev/null`.chomp.sub('refs/heads/', '')
  suffix = `git config --bool branch.#{branch}.database`.chomp == 'true' ? "_#{branch}" : ""
%>

development:
  adapter: postgresql
  encoding: utf8
  database: msv_development<%= suffix %>
  host: localhost

test:
  adapter: postgresql
  encoding: utf8
  database: msv_test<%= suffix %>
  host: localhost

staging:
  adapter: postgresql
  encoding: utf8
  database: msv_staging
  host: localhost

production:
  adapter: postgresql
  encoding: utf8
  database: msv_production
  host: localhost
