defaults: &defaults
  key:       7d5c59e94f37c463401f996cce0510cd
  secret:    fcf3a678a2d78c4b7ea47d29048ad9b7
  device_id: 48182
  hostname:  4076.voxcdn.com

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
