%tr{ :class => cycle("", "alt") }
  %td.title
    = mail_to admin.email
  %td.confirmed
    = admin.invitation_token.nil?
  %td.delete= button_to 'Delete', admin, :confirm => 'Are you sure?', :method => :delete, :remote => true