%tr{ :class => cycle("", "alt") }
  %td.title
    = mail_to admin.email
  %td.confirmed
    = display_bool(!admin.invited?)
  %td.delete= button_to 'Delete', admin_admin_path(admin), :confirm => 'Are you sure?', :method => :delete