-#  Link showing page number
-#  available local variables
-#    page:          a page object for "this" page
-#    url:           url to this page
-#    current_page:  a page object for the currently displayed page
-#    total_pages:     total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
- link_options = params.merge(page: page, format: nil)
- html_options = { onclick: 'SublimeVideo.UI.Table.showSpinner(); $(document.body).animate({ scrollTop: 0 });' }

-  if page.current?
  %em.page.current
    = page
- else
  %span.page
    = link_to_unless page.current?, page, link_options, html_options
