- if presenter = KitSettingPresenter.init(kit: kit, design: design, view: self)
  #embed_settings.expandable_settings_box
    - kit_settings_expanding_handler('embed') do
      = link_to 'Embed settings', ''
    - kit_settings_expendable_block('embed') do
      = presenter.render_input_field(setting_key: 'size')
      = "To show the embed button, you'll have to set the 'embed-url' data setting, either through the Video Publishing Assistant or manually."
