<p>This is to confirm that the cancellation of your SublimeVideo account has been processed on <%= l(Time.now.utc, format: :seconds_timezone_y) %>.</p>

<p>Thanks for your feedback on why you've chosen to leave us, it is very valuable to us in working to improve our service in future.</p>