<p>Your SublimeVideo account has been reactivated.</p>

<p>That means SublimeVideo has been re-enabled on all your websites.</p>

<p>You can now <%= link_to('log in', page_url('login')) %> and manage your sites's settings again.</p>