<p>Your SublimeVideo account has been suspended due to non-payment.</p>

<p>This means that SublimeVideo has been disabled on all of your websites.</p>

<p>To reactivate your account please visit the <%= link_to('Suspended', page_url('suspended')) %> page, <%= link_to('update your billing details', edit_billing_url) %> and retry the payment.</p>

<p>If you have any questions, please reply to this email.</p>