%p Your SublimeVideo account has been reactivated.

%p This means that SublimeVideo has been re-enabled on all of your websites.

%p= raw "You can now #{link_to('log in', page_url('login'))} again to manage your site's settings."