%p= "This is to confirm that the cancellation of your SublimeVideo account has been processed on #{l(Time.now.utc, format: :seconds_timezone_y)}."

%p Thank you for giving us feedback about why you've chosen to leave us, it is very valuable to us as we work to improve our service in future.