<p>Your SublimeVideo account has been suspended due to non-payment.</p>

<p>That means SublimeVideo is disabled on all your websites.</p>

<p>In order to reactivate your account, please visit the <%= link_to('"Suspended page"', page_url('suspended')) %>, update your billing details and retry the payment.</p>

<p>If you have any questions, please reply to this email.</p>