<p>Your SublimeVideo account has been reactivated.</p>

<p>This means that SublimeVideo has been re-enabled on all of your websites.</p>

<p>You can now <%= link_to('log in', page_url('login')) %> again to manage your site's settings.</p>