%h3.title Mobile / Desktop
#de_content.content
  .content_wrap
    - if stats.empty?
      %p.empty No plays.
    - else
      #mobiles_and_desktops_chart
      :coffee
        MySublimeVideo.Helpers.VideoStatsChartsHelper.mobilesAndDesktopsChart([
          { name: 'Desktop', y: #{stats.try_keys('d', :count) { 0 }}, color: 'rgba(74,100,142,0.6)', borderWidth: 1, borderColor: 'rgba(74,100,142,0.9)' },
          { name: 'Mobile', y: #{stats.try_keys('m', :count) { 0 }}, color: 'rgba(9,250,33,0.45)', borderWidth: 1, borderColor: 'rgba(9,250,33,0.75)' }
        ])

      .values
        %span.value
          %span.percent
            = display_percentage(stats.try_keys('m', :percent) { 0 })
            %em Mobile
        %span.value
          %span.percent
            = display_percentage(stats.try_keys('d', :percent) { 0 })
            %em Desktop
