%p= raw "You have reached your peak insurance with your plan #{@site.plan.name.humanize} plan's monthly limit for #{link_to @site.hostname, url_with_protocol(@site.hostname)}."

%p TODO

%p= edit_site_plan_url(@site.to_param)