%p
  We'd like to notify you that we've activated Peak Insurance for
  = "#{@site.hostname}'s #{@site.plan.name.humanize}"
  plan because you reached or exceeded your monthly allowance of video plays.

%p
  You can learn more in our
  = link_to('Peak Insurance', page_url('peak-insurance', subdomain: 'docs'))
  documentation page.