<%
plans = Site.with_state(:active).select("plan_id, state, COUNT(*) as total").group(:plan_id, :state).order("total DESC, plan_id DESC").map { |s| [s.plan_id? ? s.plan.title : "No plan", s.total.to_i] }

graph = Graph.new do |g|
  g.option(chart: chart('plans_distribution', margin_top: 40, margin_bottom: 20))
  g.option(title: { text: "Distribution of plans" })
  g.option(subtitle: { text: "Ignoring archived sites" })
  g.raw_option(tooltip(formatter: %(
    return "<strong>" + this.point.name + "</strong>: " + Highcharts.numberFormat(this.y, 0) + " sites";
  )))
  g.raw_option(%(plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          distance: 30,
          color: 'black',
          formatter: function() {
            return "<strong>" + this.point.name + "</strong>: " + Highcharts.numberFormat(this.percentage, 1) + " %";
          }
        }
      }
    }
  ))
  g.option(series: [
    serie(plans, 'Plans', type: 'pie'),
  ])
  g.option(credits: credits)
end
%>

<div id="plans_distribution" width="200px" style="height:400px;"><%= raw graph.draw %></div>
