= title_and_content_header 'Tell us more about your trial'

%p.bigger
  Thank you for taking a few minutes to give us some feedback about your experience with SublimeVideo.

= render 'shared/feedback_form', kind: 'feedback'
