- unless version.new_record?
  %tr{ :id => dom_id(version), :class => cycle("", "alt") }
    %td.created_at
      .wrap
        = link_to(l(version.created_at, :format => :full), admin_profile_version_path(@profile, version))
    %td.id
      .wrap
        = link_to version.id, admin_profile_version_path(@profile.id, version.id)
    %td.panda_profile_id
      .wrap
        = link_to version.panda_profile_id, admin_profile_version_path(@profile.id, version.id)
    %td.state
      .wrap
        = link_to version.state, admin_profile_version_path(@profile.id, version.id)