%ul
  %li= link_to "Evolution of enthusiasts total count.", admin_analytic_path(:enthusiasts_total_evolution)
  %li= link_to "Information on the enthusiasts.", admin_analytic_path(:enthusiasts_information)