= form_tag '', method: :get do
  %p
    = label "opts", "start_time", "Show the last #{select "opts", "start_time", *start_time_select_options} months.".html_safe
    
  -#%p
  -#  = label "opts", "end_date"
  -#  = date_select "opts", "end_date", discard_day: true, default: Time.now.to_date
    
  %br
  
  %p= submit_tag "Show", name: nil