%tr[deal_activation]{ class: cycle("", "alt") }
  %td.id
    %small= deal_activation.id

  %td.token
    %small= deal_activation.deal.token

  %td.user
    %small= link_to deal_activation.user.name_or_email, [:admin, deal_activation.user], title: deal_activation.user.email

  %td.activated_at
    %small= display_time(deal_activation.activated_at)
