.radio_wrap
  = radio_button_tag kit_setting_input_field_name(params), choice, params[:value] == choice, id: kit_setting_input_field_id(params, "_#{choice}"), disabled: params[:disabled], data: kit_setting_data(params)
  = label_tag kit_setting_input_field_id(params, "_#{choice}"), kit_setting_radio_label(params, choice)
