.entry
  - if parameters[:show_title]
    %h5= kit_setting_title(parameters)

  - parameters[:setting_template][:values].each do |choice|
    = render 'kits/inputs/radio', kit: kit, parameters: parameters, choice: choice
.spacer
