- value = params[:setting].presence || params[:setting_template][:default]

.entry
  - if params[:show_title]
    %h5= t("kit.#{params[:addon].name}.settings.#{params[:translation_key] || params[:setting_key]}")
  - params[:setting_template][:values].each do |choice|
    = render 'kits/inputs/radio', kit: kit, params: params, value: value, choice: choice
.spacer
