.entry
  - if params[:show_title]
    %h5= kit_setting_title(params)

  - params[:setting_template][:values].each do |choice|
    = render 'kits/inputs/radio', kit: kit, params: params, choice: choice
.spacer
