.entry.range
  %h5= label_tag kit_setting_input_field_id(params), kit_setting_title(params)

  = range_field_tag kit_setting_input_field_name(params), params[:value], in: params[:setting_template][:range], step: params[:setting_template][:step], style: 'display:inline', id: kit_setting_input_field_id(params), class: 'previewable', data: kit_setting_data(params)
  %span.value_displayer= params[:value]
.spacer
