- field_classes = %w[text previewable]
- field_classes << 'no_icon' unless parameters[:icon]

%h5= label_tag kit_setting_input_field_id(parameters), kit_setting_title(parameters)

- if parameters[:note]
  %p.info= parameters[:note]

.entry{ class: parameters[:entry_class] }
  - if parameters[:icon]
    = label_tag kit_setting_input_field_id(parameters), kit_setting_title(parameters), class: 'icon'
  = text_field_tag kit_setting_input_field_name(parameters), parameters[:setting], id: kit_setting_input_field_id(parameters), class: field_classes.join(' '), data: kit_setting_data(parameters), placeholder: parameters[:placeholder]
.spacer
