@mixin transition($type, $time, $ease) {
  -o-transition:$type $time $ease;
  -moz-transition:$type $time $ease;
  -webkit-transition:$type $time $ease;
  transition:$type $time $ease;
}

@mixin gradient($from, $to, $middle) {
  background:$middle;
  background:-moz-linear-gradient($from, $to);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background:-webkit-linear-gradient($from, $to);
  background:-o-linear-gradient($from, $to);
}

@mixin box-shadow($value) {
  -moz-box-shadow:$value;
  -webkit-box-shadow:$value;
  box-shadow:$value;
}

@mixin border-radius($value) {
  -moz-border-radius:$value;
  -webkit-border-radius:$value;
  border-radius:$value;
}

@mixin mask-image($value) {
  -webkit-mask-image:url($value);
  -o-mask-image:url($value);
  -moz-mask-image:url($value);
  mask-image:url($value);
}

@mixin rotate($value) {
  -webkit-transform:rotate($value);
  -moz-transform:rotate($value);
  -o-transform:rotate($value);
  -ms-transform:rotate($value);
  transform:rotate($value);
}