body {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow:rgba(255,255,255,0.55) 0 1px 0;
  margin:0;
  padding:0;
  background:#eaeef4;
  color:#4e5a6c;
}

a {
  text-decoration:underline;
  color:#2e8ce3;
}

td p {
  line-height:26px;
  padding:8px 0;
  margin:0;
  color:#6b7a8e;
  font-size:16px;
}

img {
  border:none
}

h2 {
  font-weight:bold;
  margin:0;
}

h2.logo {
  color:#222222;
  font-size:26px;
}

table.wrapper {
  background:#d3dbe6;
}

table.content {
  background:#fff;
}

td.header {
  height:100px;
}

td.main {
  padding:20px 25px;
}

td.footer {
  background:#a9b8cf;
}

td.footer a {
  float:left;
}

td.bottom p.footer_thank_you {
  text-align:center;
  font-size:14px;
  color:#4e5a6c;
  padding:20px 0 10px;
}

td.bottom p.copyright {
  text-align:center;
  color:#8195b3;
  font-size:11px;
  padding:0px 0 50px;
}

/* Confirmation Instructions */

td p a.complete_account {
  display:block;
  background:#32a149;
  color:#fff;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  text-shadow:none;
  width:250px;
  padding:15px 10px;
  margin:10px auto;
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
}

/* Welcome email */

h2.welcome {
  font-size:30px;
  padding:20px 0 0;
}

td p.thank_you {
  color:#7e8ea7;
  font-size:19px;
  line-height:27px;
  margin:0;
  padding:0;
}

h3 {
  font-size:25px;
  margin:0;
}

h3.whats_next {
  padding:20px 0 5px;
}

h3.follow {
  font-weight:bold;
  padding:20px 20px 5px;
}

table.inner_table {
  margin-top:30px;
}

td p.bigger {
  font-size:18px;
  line-height:28px;
}

td p.follow {
  line-height:24px;
  padding:0 20px;
}

td p.follow_twitter {
  line-height:20px;
  padding:10px 30px 0;
}

td p.follow_blog {
  line-height:20px;
  padding:10px 40px 0;
}

td p.follow_newsletter {
  line-height:20px;
  padding:16px 30px 0;
}

td p.small {
/*  font-size:15px;*/
}

td ul.small li {
/*  font-size:14px;*/
  line-height:25px;
  padding:0 0 14px;
  color:#6b7a8e;
}