* {
  margin:0;
  padding:0;
}

html {-webkit-text-size-adjust:none;}

body {
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  background:#3a5379 url(<%= asset_data_uri 'main/header_background.png' %>) repeat-x;
  color:#545e75;
  font-size:14px;
  text-shadow:rgba(255,255,255,0.8) 0 1px 0;
  text-rendering:optimizeLegibility;
}

body.win {font-family:Arial, sans-serif}

#global {
  width:1000px;
  margin:0 auto;
}

header {
  height:535px;
  background:url(<%= asset_data_uri 'main/stars_background.png' %>) no-repeat;
  position:relative;
}

header h1 a {
  display:block;
  width:443px;
  height:113px;
  background:url(<%= asset_data_uri 'main/sublimevideo.png' %>) no-repeat;
  margin:0 auto;
  position:relative;
  top:60px;
}

header h1 span {display:none}

header a.jilion {
  display:block;
  width:142px;
  height:71px;
  position:absolute;
  top:79px;
  left:70px;
  background:url(<%= asset_data_uri 'main/jilion.png' %>) no-repeat;
}

header a.twitter {
  display:block;
  width:105px;
  height:54px;
  background:url(<%= asset_data_uri 'main/twitter.png' %>) no-repeat;
  position:absolute;
  top:87px;
  right:70px;
  -webkit-transition:8s -webkit-transform;
}

header a.twitter:hover {
  -webkit-transform:translate(30px, -30px);
}

header a.jilion span, header a.twitter span {display:none}

#content {
  width:960px;
  margin:-300px auto 0;
  background:#e1e6f0 url(<%= asset_data_uri 'main/content_gradient.png' %>) repeat-x;
  position:relative;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  -moz-box-shadow:rgba(0,0,0,0.4) 0 1px 20px, inset rgba(255,255,255,0.3) 0 1px 0;
  -webkit-box-shadow:rgba(0,0,0,0.4) 0 1px 20px, inset rgba(255,255,255,0.3) 0 1px 0;
  box-shadow:rgba(0,0,0,0.4) 0 1px 20px, inset rgba(255,255,255,0.3) 0 1px 0;
}

body.chrome_mac #content {-webkit-box-shadow:none}

#content a {
  color:#005bbe;
}

#content h2.headline {
  color:#1c263b;
  font-weight:800;
  font-size:37px;
  text-align:center;
}

#content h3.subline {
  font-size:17px;
  color:#545e75;
  text-align:center;
  font-weight:normal;
  padding:7px 0 10px;
}

section.top {
  text-shadow:rgba(255,255,255,0.4) 0 1px 0;
  border:1px solid rgba(0,0,0,0);
}

section.top .head_box {
  width:174px;
  height:180px;
  position:absolute;
  top:30px;
  left:30px;
}

section.top .head_box.right {
  left:auto;
  right:26px;
  height:145px;
}

.head_box h3 {
  color:#1c263b;
  font-size:20px;
  font-weight:600;
}

.head_box p {
  font-size:13px;
  line-height:19px;
  padding:7px 0;
}

#content .head_box .button {
  width:178px;
  height:58px;
  line-height:58px;
  color:#fff;
  text-shadow:rgba(0,0,0,0.8) 0 -1px 0;
  text-align:center;
  display:block;
  position:absolute;
  left:-4px;
}

#content .head_box .button.dark_blue {
  background:url(<%= asset_data_uri 'main/dark_blue_button.png' %>) no-repeat;
  font-size:19px;
  bottom:35px;
}

#content .head_box .button.light_blue {
  background:url(<%= asset_data_uri 'main/light_blue_button.png' %>) no-repeat;
  font-size:22px;
  bottom:0;
}

#content .head_box .button:active {background-position:0 -58px}

#content .head_box p.login {
  position:absolute;
  left:0;
  bottom:0;
}

#player_screen {
  width:665px;
  height:396px;
  background:url(<%= asset_data_uri 'main/player_screenshot.png' %>) no-repeat;
  position:relative;
  margin:-80px auto 0;
}

#player_screen a {
  display:block;
  width:500px;
  height:281px;
  background:url(<%= asset_data_uri 'main/player_screenshot_overlay.png' %>) no-repeat;
  color:#fff;
  font-size:19px;
  text-shadow:none;
  position:absolute;
  top:47px;
  left:82px;
  opacity:0;
  -o-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

#player_screen a:hover {
  opacity:1;
}

#player_screen a span {
  position:absolute;
  top:132px;
  left:175px;
}

section.get_the_most {
  margin-top:25px;
  position:relative;
  z-index:2;
}

#content .box {
  width:455px;
  position:relative;
}

#content .box.left, #content .box.left img {float:left}
#content .box.right, #content .box.right img {float:right}

#content .box h3 {
  color:#1c263b;
  font-size:25px;
  font-weight:600;
}

#content .box p.desc {
  line-height:22px;
  padding:10px 0;
}

#content .box.left p.desc {padding-left:30px}
#content .box.right p.desc {padding-right:30px}

#content .box p.desc strong {
  color:#1c263b;
  font-weight:600;
}

#content .box .wrap {
  position:relative;
  z-index:2;
}

#content .box .blue_halo {
  width:381px;
  height:381px;
  background:url(<%= asset_data_uri 'main/icon_blue_halo_background.png' %>) no-repeat;
  position:absolute;
  top:-120px;
  left:0;
  z-index:0;
}

#content .box.left .blue_halo {
  background-position:-140px 0;
}

#content .box.right .blue_halo {
  background-position:140px 0;
  left:auto;
  right:0;
}

.box.browsers {
  background:url(<%= asset_data_uri 'main/browsers/default.png' %>) no-repeat;
}

.box.browsers.safari {background-image:url(<%= asset_data_uri 'main/browsers/safari.png' %>)}
.box.browsers.chrome {background-image:url(<%= asset_data_uri 'main/browsers/chrome.png' %>)}
.box.browsers.firefox {background-image:url(<%= asset_data_uri 'main/browsers/firefox.png' %>)}
.box.browsers.opera {background-image:url(<%= asset_data_uri 'main/browsers/opera.png' %>)}

.box.browsers h3 {
  padding-top:35px;
}

#content .box.mobile {
  background:url(<%= asset_data_uri 'main/mobile_icon.png' %>) no-repeat 100% 10px;
  width:260px;
  padding-right:195px;
  height:210px;
}

.box.mobile h3 {
  padding-top:35px;
}

section.middle_headline {
  width:960px;
  text-align:center;
  position:relative;
  margin-top:-20px;
}

#content section.middle_headline h2.headline {
  width:940px;
  margin:0 auto;
  padding:0 0 14px;
  font-size:30px;
}

/*section.middle_headline h3.subheadline {
  color:#545e75;
  width:680px;
  margin:0 auto;
  font-weight:normal;
  font-size:19px;
  line-height:29px;
  padding-bottom:18px;
}
*/
section.middle_headline ul {
  list-style-type:none;
}

section.middle_headline li {
/*  float:left;*/
  display:inline;
  padding:0 10px;
  font-size:19px;
  font-weight:600;
}

#content #customer_showcase {
  width:960px;
  height:260px;
  background:url(<%= asset_data_uri 'main/middle_headline_pane.png' %>) no-repeat;
  position:relative;
  text-shadow:rgba(255,255,255,0.5) 0 1px 0;
  overflow:hidden;
  margin-top:20px;
  border-bottom:1px solid #fff;
}

#content #customer_showcase a.view_all {
  position:absolute;
  bottom:15px;
  right:20px;
  z-index:4;
}

#content #customer_showcase .wrap {
  width:1820px;
  height:290px;
  position:absolute;
  top:20px;
  left:0;
  -webkit-font-smoothing:antialiased;
}

#content #customer_showcase .showcase {
  width:400px;
  height:220px;
  padding:15px 0 0 55px;
  float:left;
}

#content #customer_showcase img.portrait {
  width:56px;
  height:56px;
  border:3px solid #fff;
  float:left;
  margin-right:15px;
  position:relative;
  top:4px;
  -moz-box-shadow:rgba(0,51,110,0.6) 0 1px 7px;
  -webkit-box-shadow:rgba(0,51,110,0.6) 0 1px 7px;
  box-shadow:rgba(0,51,110,0.6) 0 1px 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#content #customer_showcase a.logo {
  float:right;
}

#content #customer_showcase a.logo img {
/*  float:right;*/
  padding:4px 0 0 8px;
}

#content #customer_showcase blockquote {
  font-style:italic;
  font-size:15px;
  line-height:23px;
}

#content #customer_showcase blockquote a {
  color:#133c66;
}

#content #customer_showcase .quote_info {
  font-size:12px;
}

#content #customer_showcase .quote_info p {
  padding:8px 0 14px;
}

#content #customer_showcase .quote_info a.read_showcase {
  color:#d4e0ed;
  background:#6984a2;
  padding:1px 7px;
  font-size:13px;
/*  font-weight:bold;*/
  text-shadow:none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: rgba(255,255,255,0.6) 0 1px 0;
  -webkit-box-shadow: rgba(255,255,255,0.6) 0 1px 0;
  box-shadow: rgba(255,255,255,0.6) 0 1px 0;
}

#content #customer_showcase a.arrow {
  display:block;
  width:25px;
  height:25px;
  position:absolute;
  top:130px;
}

#content #customer_showcase a.arrow.left {
  background:url(<%= asset_data_uri 'main/left_arrow_button.png' %>) no-repeat;
  left:15px;
}
#content #customer_showcase a.arrow.right {
  background:url(<%= asset_data_uri 'main/right_arrow_button.png' %>) no-repeat;
  right:15px;
}

#content #customer_showcase a.arrow:active {background-position:0 -25px}

#content #customer_showcase a.arrow span {display:none}

section.sublimevideo_cloud {
  padding-top:20px;
  position:relative;
}

.cloud_box {
  text-align:center;
  margin-bottom:-40px;
  width:296px;
  height:237px;
  position:absolute;
  top:140px;
  left:320px;
  background:url(<%= asset_data_uri 'main/cloud_icon.png' %>) no-repeat;
}

section.sublimevideo_cloud .box {
  margin-top:20px;
}

.box.up_to_date .wrap {
  background:url(<%= asset_data_uri 'main/up_to_date_icon.png' %>) no-repeat 10px 0;
  padding-bottom:20px;
}

.box.up_to_date h3 {
  padding-top:10px;
}

.box.cost_effective .wrap {
  background:url(<%= asset_data_uri 'main/safe_icon.png' %>) no-repeat 96% 10px;  
}

.box.cost_effective h3 {
  padding-top:10px;
}

.box.performance .wrap {
  background:url(<%= asset_data_uri 'main/network_icon.png' %>) no-repeat 15px 0;
}

#content .box.management .wrap {
  background:url(<%= asset_data_uri 'main/my_sublime_screengrab.png' %>) no-repeat 100% 0;
  height:200px;
  width:290px;
  padding-right:165px;
}

#content section.key_features h2.headline {
  font-size:30px;
  padding:30px 0;
}

#content section.key_features .box {
  width:164px;
  float:left;
  margin:0 10px 20px;
}

#content section.key_features .box.compatible {
  margin-left:30px;
}

#content section.key_features h3 {
  font-size:21px;
}

#content section.key_features .box p.desc {
  font-size:13px;
}

footer {
  width:940px;
  margin:15px auto 30px;
  color:#a6c0e7;
  text-shadow:rgba(0,0,0,0.5) 0 -1px 0;
  font-size:15px;
}

footer a {
  color:#fff;
}

footer p.right {
  float:right;
}

footer p.copyright {
  font-size:12px;
  text-align:center;
  padding:20px 0;
}

.spacer {clear:both}

section, header, footer, nav {display:block}

a {
  text-decoration:none;
  outline:none;
}

img {
  border:none;
}

/* ========= */
/* = Plans = */
/* ========= */

#plans {
  padding:0 30px;
}

#plans h2.headline {
  padding:40px 0 0;
  font-size:45px;
  font-weight:600;
  text-shadow:rgba(255,255,255,0.5) 0 1px 0;
}

#plans h3.subheadline {
  color:#545e75;
  font-weight:normal;
  font-size:26px;
  display:block;
  text-align:center;
  padding:10px 0;
}

#plans h3.subheadline strong {
  font-weight:600;
  color:#1c263b;
}

#plans_box {
  list-style-type:none;
  margin:15px -20px 0 0;
}

#plans_box li {
  display:block;
  float:left;
  width:210px;
  height:506px;
  background:url(<%= asset_data_uri 'main/plans/plan_box.png' %>) no-repeat;
  margin:0 20px 15px 0;
}

#plans_box li .header {
  padding:30px 24px 0;
}

#plans_box h3.title {
  font-size:30px;
  font-weight:200;
  color:#5d6778;
}

#plans_box h4.number {
  display:block;
  padding:12px 0 1px;
  text-align:center;
  font-size:35px;
  font-weight:600;
  text-shadow:#fff 0 1px 2px,rgba(0,0,0,0.45) 0px 0px 0px,#fff 0px 1px 2px;
}

#plans_box li.box_1 h4.number {color:#939aa4;color:rgba(81,90,102,0.5)}
#plans_box li.box_2 h4.number {color:#818996;color:rgba(63,71,86,0.55)}
#plans_box li.box_3 h4.number {color:#6a717c;color:rgba(42,48,59,0.6)}
#plans_box li.box_4 h4.number {color:#6a717c;color:rgba(24,27,33,0.6)}

#plans_box h5.label {
  font-size:14px;
  color:#8c96a6;
  font-weight:normal;
  display:block;
  text-align:center;
}

#plans_box li ul.features {
  list-style-type:none;
  float:none;
  margin:20px 15px 0;
  border-top:1px solid #d2d8e0;
  border-bottom:1px solid #fff;
}

#plans_box li ul.features li {
  background:none;
  float:none;
  height:auto;
  width:auto;
  margin:0;
  border-top:1px solid #fff;
  border-bottom:1px solid #d2d8e0;
  text-align:center;
  font-size:17px;
  padding:13px 0;
  color:#545e75;
}

#plans_box li ul.features li.last {border-bottom:none}

#plans_box li ul.features li strong {
  font-weight:600;
  color:#1c263b;
}

#plans_box .price {
  padding:10px 8px 0;
  text-align:center;
}

#plans_box .price .monthly {
  position:relative;
  width:88px;
  text-align:right;
}

*:first-child+html #plans_box .price .monthly {left:-50px}

#plans_box .price .monthly strong {
  color:#1c263b;
  font-size:42px;
  font-weight:600;
}

#plans_box .price .monthly strong sup {
  position:absolute;
  top:4px;
  right:-35px;
  font-size:22px;
}

#plans_box .price .monthly em.label {
  right:-95px;
  bottom:8px;
  width:90px;
}

#plans_box .price em.label {
  display:block;
  position:absolute;
  font-style:normal;
  font-size:14px;
  color:#8c96a6;
  text-align:left;
}

#plans_box .price .or_separator {
  width:111px;
  background:url(<%= asset_data_uri 'main/plans/or_separator.png' %>) no-repeat center;
  margin:5px auto;
  text-align:center;
  font-size:12px;
  font-weight:600;
  color:#8c96a6;
  letter-spacing:1px;
  text-transform:uppercase;
  clear:both;
}

#plans_box .price .yearly {
  position:relative;
  width:97px;
  text-align:right;
}

*:first-child+html #plans_box .price .yearly {left:-50px}

#plans_box .price .yearly strong {
  color:#8c96a6;
  font-size:30px;
  font-weight:600;
}

#plans_box .price .yearly strong sup {
  position:absolute;
  top:4px;
  right:-35px;
  font-size:22px;
}

#plans_box .price .yearly em.label {
  right:-95px;
  bottom:10px;
  width:90px;
}

#plans_box .price .two_months_free {
  display:inline-block;
  padding:3px 6px 2px;
  margin:8px 0 0;
  font-size:11px;
  color:#235082;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:1px;
  background:#b0d5ff;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -moz-box-shadow:inset rgba(0,0,0,0.6) 0 1px 3px;
  -webkit-box-shadow:inset rgba(0,0,0,0.6) 0 1px 3px;
  box-shadow:inset rgba(0,0,0,0.6) 0 1px 3px;
}

#plans .sign_up_box {
  margin:40px 0 0;
  position:relative;
  height:120px;
}

#plans .sign_up_box .left {
  width:294px;
  float:left;
  line-height:21px;
}

#plans .sign_up_box .left p {
  padding:0 0 10px;
}

#plans .sign_up_box .left strong {
  color:#1c263b;
}

#plans .sign_up_box .right {
  width:290px;
  float:right;
  text-align:right;
  line-height:21px;
}

#plans .sign_up_box .right a {
  color:#1c263b;
  font-weight:600;
  border-bottom:1px solid #b0b6c3;
}

#plans .sign_up_box .blue_halo {
  width:334px;
  height:214px;
  background:url(<%= asset_data_uri 'main/plans/signup_button_halo.png' %>) no-repeat;
  margin:0 auto;
  position:absolute;
  top:-76px;
  left:283px;
  z-index:1;
}

#plans .sign_up_box a.big_button {
  display:block;
  width:183px;
  height:76px;
  line-height:76px;
  margin:0 auto;
  background:url(<%= asset_data_uri 'main/plans/signup_button.png' %>) no-repeat;
  text-align:center;
  font-size:24px;
  color:#ffffff;
  text-shadow:rgba(0,0,0,0.9) 0 -1px 0;
  position:relative;
  top:-6px;
  z-index:2;
}

#plans .sign_up_box a.big_button:active {
  background-position:0 -76px;
}

#plans_faq {
  padding:15px 0;
  border-top:1px solid #b4cae8;
  -moz-box-shadow: inset rgba(255,255,255,.6) 0 1px 0;
  -webkit-box-shadow: inset rgba(255,255,255,.6) 0 1px 0;
  box-shadow: inset rgba(255,255,255,.6) 0 1px 0;
}

#plans_faq .left {
  width:430px;
  float:left;
  padding-right:40px;
}

#plans_faq .right {
  width:430px;
  float:left;
}

#plans_faq h3.title {
  color:#1c263b;
  font-size:16px;
  font-weight:600;
  padding:12px 0;
}

#plans_faq p.desc {
  line-height:21px;
  padding:0 0 10px;
}

#plans_faq p.desc strong {
  color:#1c263b;
}

/* ======== */
/* = Demo = */
/* ======== */

#demo {
  padding:20px 0;
  width:800px;
  margin:0 auto;
}

#demo h2.headline {
  padding:40px 0 0;
  float:left;
  font-size:40px;
  font-weight:600;
  text-shadow:rgba(255,255,255,0.5) 0 1px 0;
}

#demo nav {
  text-align:right;
  padding:53px 0 35px 0;
  text-shadow:rgba(255,255,255,0.5) 0 1px 0;
  border-bottom:1px solid rgba(17,31,55,0.2);
  -moz-box-shadow:rgba(255,255,255,0.3) 0 1px 0;
  -webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0;
  box-shadow: rgba(255,255,255,0.3) 0 1px 0;
}

#demo nav li {
  display:inline;
  list-style: none;
  padding-left:30px;
}

#demo nav li a {
  font-size:20px;
  color:#4a5d80;
}

#demo nav li.active a {
  font-weight:bold;
  color:#1c263b;
}

#demo .video_wrap {
  background:#000;
  margin-bottom:20px;
  -webkit-box-shadow:rgba(0,0,0,0.4) 0 4px 15px;
  -moz-box-shadow:rgba(0,0,0,0.4) 0 4px 15px;
  box-shadow:rgba(0,0,0,0.4) 0 4px 15px;
}

body.chrome_mac #demo .video_wrap {-webkit-box-shadow:none}

#demo section {
  padding:40px 0;
  width:800px;
  margin:0 auto;
  border-bottom: 1px solid #b6bac2;
  -moz-box-shadow: rgba(255,255,255,0.5) 0 1px 0;
  -webkit-box-shadow: rgba(255,255,255,0.5) 0 1px 0;
  box-shadow: rgba(255,255,255,0.5) 0 1px 0;
}

#demo section h3 {
  color:#1c263b;
  font-size:26px;
  font-weight:600;
  padding-top:20px;
}

#demo section p.desc {
  line-height:25px;
  font-size:15px;
  padding:10px 0;
}

/* ============ */
/* = Mode box = */
/* ============ */

#mode_switcher {
  float:right;
  margin-top:20px;
  display:none;
  text-align:right;
}

#mode_switcher.active {display:block}

#mode_switcher span {display:none}

#mode_switcher.html5 span.html5, #mode_switcher.flash span.flash {display:inline}

#mode_switcher strong {
  color:#1c263b;
}

/* =============== */
/* = Single Demo = */
/* =============== */


#single .video_wrap {
  width:800px;
  height:340px;
  margin:0 0 20px;
}

/* ================= */
/* = Multiple Demo = */
/* ================= */

#multiple ul {
  width:740px;
  margin:0 auto;
  list-style-type:none;
}

#multiple li {
  width:360px;
  height:153px;
  float:left;
}

#multiple .video_wrap.left {
  margin-right:20px;
}

/* ============= */
/* = Zoom Demo = */
/* ============= */

#zoom ul {
  list-style-type:none;
  width:420px;
  float:left;
}

#zoom li {
  float:left;
  padding:0 30px 30px 0;
}

#zoom li a {
  display:block;
  width:180px;
  height:76px;
  background:#000;
  position:relative;
  -webkit-box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
  -moz-box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
  box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
}

body.chrome_mac #zoom li a {-webkit-box-shadow:none}

#zoom li a span {
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:url(<%= asset_data_uri 'main/demo/zoom_icon.png' %>) no-repeat bottom right;
  opacity:0.3;
  -o-transition:opacity 0.25s;
  -moz-transition:opacity 0.25s;
  -webkit-transition:opacity 0.25s;
  transition:opacity 0.25s;
}

#zoom li a:hover span {opacity:1}

#zoom .section_text {
  width:380px;
  float:left;
}

#zoom .section_text h3 {
  padding-top:0;
}

/* ==================== */
/* = Interactive Demo = */
/* ==================== */

#interactive .video_wrap {
  width:800px;
  height:336px;
  display:none;
}

#interactive .video_wrap.active {
  display:block;
}


#single .sublime_video_content.fade_in, #single .sublime_video_content.slow_fade_in, #interactive .sublime_video_content.fade_in, #interactive .sublime_video_content.slow_fade_in {
  -webkit-animation-name:interactive-fade-in;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count:once;
  -webkit-animation-timing-function:ease-in;
}

#single .sublime_video_content.slow_fade_in, #interactive .sublime_video_content.slow_fade_in {
  -webkit-animation-duration:1.5s;
}

@-webkit-keyframes interactive-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#interactive ul {
  list-style-type:none;
}

#interactive li {
  float:left;
  display:block;
  width:178px;
  height:76px;
  margin-right:16px;
  margin-bottom:16px;
  padding:5px;
  background:#fff;
  -webkit-box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
  -moz-box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
  box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}

body.chrome_mac #interactive li {-webkit-box-shadow:none}

#interactive li#thumb_video4 {margin-right:0;}

#interactive li.active {
  background:#000;
}

#interactive li a {
  display:block;
}

#interactive li img {
  opacity:0.7;
  -o-transition:opacity 0.25s;
  -moz-transition:opacity 0.25s;
  -webkit-transition:opacity 0.25s;
  transition:opacity 0.25s;
}

#interactive li a:hover img, #interactive li.active img {
  opacity:1;
}

/* =============== */
/* = UI Features = */
/* =============== */

#demo section#features h3 {
  padding:0 0 20px;
}

#demo section#features ul {
  line-height:22px;
  list-style-type:none;
}

#demo section#features ul ul {
  padding:0 15px;
}

#demo section#features ul li {
  padding:3px 0 3px 20px;
  background:url(<%= asset_data_uri 'main/demo/li_bullet.png' %>) no-repeat 0 9px;
}

#demo section#features strong {
  color:#1c263b;
}

#demo section#features ul ul li {
  padding:3px 0 3px 16px;
  background:url(<%= asset_data_uri 'main/demo/li_bullet_sub.png' %>) no-repeat 0 10px;
}

/* ================= */
/* = Video Credits = */
/* ================= */

#demo section#credits {
  border-bottom:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  padding-top:10px;
}

#demo section#credits p.desc {
  font-size:12px;
  line-height:18px;
}

#hw {
  width:0px;
  height:0px;
  -webkit-animation:hw-enable 1s linear infinite;
}

@-webkit-keyframes hw-enable {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(-360deg);
  }
}
