/*
 *= require_self
 *= require jquery.ui.datepicker.cupertino
*/


#content {
  #sites_select {
    float:left;
  }
  #periods_select {
    float:right;
  }

  #custom_dates_pickers {
    display: none;
    position: absolute;
    top: 135px;
    right: 50px;
    z-index: 10;

    #start_time, #end_time {
      float: left;
    }
  }
}


#content #vv {
  display:block;
  margin: 40px 0 0;
  height:300px;
  width:100%;
  float:left;

  #vv_content {
    display:none;
  }

  #vv_numbers {
    float: left;
    height:280px;
    width: 138px;
    margin:20px 20px 0 0;

    ul {
      width: 100%;
      list-style-type:none;
      float:left;

      li {
        width: 138px;
        height:50px;
        text-align: right;
        text-vertical-align: bottom;
        margin:20px 0 0 0;
        padding:0;

        div {
          margin:0;
          padding:0;
          width:100%;
          height:100%;
        }

        span .title {
            margin:0;
            padding:0;
            font-size: 16px;
        }
      }
    }
  }

  #vv_chart {
    float: left;
    width: 700px;
  }
}

#content #bp {
  display:block;
  height:250px;
  width:420px;
  float:left;

  #bp_content {
    display:none;
  }
}
#content #md {
  display:block;
  height:250px;
  width:420px;
  float:right;

  #md_content {
    display:none;
  }
}

#md_content p, #bp_content p {
  font-size: 30px;
  margin: 25% 25%;
}
