#content #sites_select {
  float:left;
}

#content #periods_select {
  float:right;
}

#content #views_and_plays {
  display:block;
  height:300px;
  width:900px;
  float:left;
}

#content #bp {
  display:block;
  height:250px;
  width:420px;
  float:left;
}
#content #md {
  display:block;
  height:250px;
  width:420px;
  float:right;
}
