<%
countries = User.beta.select("country, COUNT(*) as total").group(:country).map! { |u| [u.country || "Unknown", u.total.to_i] }
other_countries = ["Other (less than 50 users)", 0]
countries = countries.inject([]) do |memo, country|
  if country[1] < 50
    other_countries[1] += country[1]
  else
    memo << country
  end
  memo
end
countries << other_countries
Rails.logger.info countries.inspect
%>
<script type = "text/javascript" charset="utf-8">
document.observe("dom:loaded", function() {
  new Highcharts.Chart({
    chart: {
      renderTo: 'countries',
      backgroundColor: '#EEEEEE'
    },
    title: {
      text: 'Repartition of users by country'
    },
    tooltip: {
      borderWidth: 0,
      backgroundColor: "rgba(0, 0, 0, .70)",
      style: {
      	color: '#FFFFFF',
      	padding: '5px'
      },
      formatter: function() {
        return "<strong>" + this.point.name + "</strong>: " + Highcharts.numberFormat(this.y, 0) + " users";
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          distance: 30,
          color: 'black',
          formatter: function() {
            return "<strong>" + this.point.name + "</strong>: " + Highcharts.numberFormat(this.percentage, 1) + " %";
          }
        }
      }
    },
    series: [{
      type: 'pie',
      data: <%= raw countries.to_json %>
    }],
    credits: {
      enabled: true,
      text: "Generation time: <%= Time.now.to_s(:format => :fully_full) %> / Copyright © <%= Date.today.year %> - SublimeVideo®",
      href: "http://sublimevideo.net"
    }
  });
});
</script>
<div id="countries" style="width:100%; height:350px;"></div>
