<%
users_stats = Stat::UsersStat.new(@date_range_from, @date_range_to)

unless users_stats.empty?
  graph = Graph.new do |g|
    g.option(chart: chart('timeline_users_stats', margin_top: 100))
    g.option(title: { text: "Users Stats" })
    g.option(legend: legend(y: 40, width: 510))
    g.option(xAxis: x_axis(start_at: @date_range_from, end_at: @date_range_to))
    g.raw_option(y_axis("Users", tick_interval: [users_stats.timeline(:active_and_not_billable_count).max / 100, 1].max))
    g.raw_option(%(tooltip: {
      borderWidth: 0,
      backgroundColor: "rgba(0, 0, 0, .70)",
      style: {
        color: '#FFFFFF',
        padding: '5px'
      },
      formatter: function() {
        return "<strong>" + Highcharts.dateFormat("%B %e,  %Y", this.x) + "</strong><br/>" + this.series.name + ": <strong>" + Highcharts.numberFormat(this.y,0) + " of " + Highcharts.numberFormat(this.total, 0) + " (" + Highcharts.numberFormat(this.percentage, 1) + "%)</strong>";
      }
    }))

    g.option(series: [
      serie(users_stats.timeline(:active_and_not_billable_count), 'Active & NOT Billable', type: 'area', color: '#00b600', visible: false),
      serie(users_stats.timeline(:active_and_billable_count), 'Active & Billable', type: 'area', color: '#00ff00'),
      serie(users_stats.timeline(:archived_count), 'Archived', type: 'area', color: '#b00000', visible: false),
      serie(users_stats.timeline(:suspended_count), 'Suspended', type: 'area', color: '#fe2617', visible: false)
    ].flatten)
    g.option(plotOptions: plot_options(@date_range_from))
    g.option(credits: credits)
  end
end

if graph
%>
  <div id="timeline_users_stats" style="width: 100%; height: 400px;"><%= raw graph.draw %></div>
<% end %>
