- if presenter = KitSettingPresenter.init(kit: kit, design: design, view: self, addon_name: 'controls')
  = presenter.render_master_input_field(setting_key: 'enable') do
    = presenter.render_input_field(setting_key: 'visibility')
