- if presenter = KitSettingPresenter.init(kit: kit, design: design, view: self, addon_name: 'initial')
  = presenter.render_master_input_field(setting_key: 'overlay_enable') do
    = presenter.render_input_field(setting_key: 'overlay_visibility')
