= label_tag :kit_id, 'Player:'
= select_tag :kit_id, options_from_collection_for_select(site.kits.order(:identifier).map { |k| exhibit(k) }, :identifier, :label, kit.identifier), data: { settings: mangled_kits_settings(site).to_json }
