%ul.segmented_menu.sticky
  = li_menu_link 'Edit video code',  path: edit_site_video_code_path(site, video), class: "first#{' last' unless site.realtime_stats_active?}"
  = li_menu_link 'Stats', path: site_video_tag_stats_path(site, video), class: 'last' if site.realtime_stats_active?
