- title("Generate Video Code for #{hostname_or_token(@site)}")
-#= render '/layouts/site_header'
= render 'layouts/sites_select_title'
%h2.publish_video Publish a video
.spacer


.video_code_generator
  = beta_loader_required
  = render 'video_codes/form', site: @site, kit: @kit, get_code_button: true
