- title("Generate Video Code for #{hostname_or_token(@site)}")
-#= render '/layouts/site_header'
= render 'layouts/sites_select_title'
%h2.publish_video Publish a video
.spacer

.video_code_generator= render 'form'
