- title("Publish a video on #{hostname_or_token(@site)}")
= render '/layouts/site_header'
.big_break

#video_code
  %h3.assistant_title Publish a video
  = form_tag url_for, id: 'video_code_form' do
    = render 'video_codes/form', site: @site, get_code_button: true
