= title_and_content_header 'Cancel my account'

%p.bigger
  Thank you for using SublimeVideo - we're sorry to see you go.

%p.bigger
  Before you leave it'd be great if you could take a moment to give us some feedback to help us improve our service in future.

= render 'shared/feedback_form', kind: 'account_cancellation'
