#site_setup
  - if site.errors[:base].present? && site.errors[:base].exclude?(t('activerecord.errors.models.site.attributes.base.current_password_needed')) && site.errors[:base].exclude?(t('activerecord.errors.models.site.attributes.base.credit_card_needed'))
    .inline_errors
      %span= site.errors[:base].first

  .entry.site
    .left
      = f.label :hostname, '', class: "icon"
      = f.text_field :hostname, class: "text", placeholder: "yourdomain.com", autocomplete: :off
    %p.desc Add your domain or subdomain.
    .spacer
  .big_break

  = render('site_setup_settings', site: site, f: f) if site.persisted?