.checkbox_wrap#skip_trial{ style: "display:#{f.object.in_trial? || f.object.skip_trial? ? 'block' : 'none'}" }
  = f.check_box :skip_trial
  = f.label :skip_trial, "Skip the #{BusinessModel.days_for_trial}-day trial."
