%td.videos
  .wrap
    - if site.last_30_days_video_tags > 0
      = link_to site_video_tags_path(site), class: "video_number" do
        %strong= number_with_delimiter(site.last_30_days_video_tags)
        %em= "videos"
    - else
      - classes = ['embed_code']
      - classes << 'disabled' unless assistant.setup_done?
      = link_to 'Publish video', new_site_video_code_path(site), class: classes
