<%
billable_views = site.last_30_days_billable_video_views_array
graph = Graph.new do |g|
  g.option(chart: { renderTo: "usage_sparkline_#{site.token}", margin: [0,0,0,0], borderWidth: 0, borderRadius: 0, backgroundColor: 'transparent' })
  g.option(title: { text: "" })
  g.option(legend: { enabled: false })
  g.option(tooltip: { enabled: false })
  g.option(xAxis: { title: "", labels: { enabled: false } })
  g.option(yAxis: { title: "", endOnTick: false, labels: { enabled: false } })
  g.option(series: [serie(billable_views, '', type: 'areaspline', color: '#00ff18', fill_color: 'rgba(79,249,99,.4)')])
  g.option(plotOptions: { areaspline: { lineWidth: 1, marker: { enabled: false }, states: { hover: { lineWidth: 1 } }, borderWidth: 0, pointPadding: 0, pointWidth: 4, shadow: false } })
  g.option(credits: { enabled: false })
end
%>

<div id="<%= "usage_sparkline_#{site.token}" %>" class="sparkline" style="width:190px;height:28px"><%= raw graph.draw(on_dom_ready: !request.xhr?) %></div>