= render 'layouts/sticky_notices'
= render 'layouts/hidable_notices'

#sites
  = title_and_content_header("My sites")

  -#= link_to assistant_new_site_path, class: 'add_site green_button' do
  -#  %span= "Add a site"

  #sites_table_wrap= render 'sites'
