-# - content_for :header do
-#  = javascript_include_tag 'highcharts/highcharts-adapter.min', 'highcharts/highcharts'
 
= title_and_content_header("My sites")

= link_to "Add a site", new_site_path, :class => "add_site std_button"

#sites_table_wrap= render 'sites'