- title 'Add a site'
= content_header 'Setup assistant'

#site.new
  = form_for @site, html: { class: "full" } do |f|
    .tagline
      %h3 On which site do you need a SublimeVideo player?
    = render 'fields', site: @site, f: f

    .actions.center
      = f.submit 'Next', class: 'submit green_button', id: 'site_submit'
