---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/create.json
    body:
      encoding: US-ASCII
      string: id=56351930166935552
    headers:
      Authorization:
      - OAuth oauth_consumer_key="KTWk4ZrufEHjncLCsNwhw", oauth_nonce="e34d820daf57ce4e962aaa0c49982755",
        oauth_signature="pnotJLv0GPlVuPq99rrez76CArc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380202175", oauth_token="6797462-Sz009rpFmcLGIBANAyJRsKoUlHtf2Rl5YuufnZeiI",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"eaeefc06f4de78d3af5ffad85c4aec52"'
      Last-Modified:
      - Thu, 26 Sep 2013 13:29:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Mid:
      - f931e09ff63911d0960b6a9823542241fd1541ed
      X-Transaction:
      - 94a312a3f4e9e412
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef114c7ca9a44
    body:
      encoding: UTF-8
      string: '{"in_reply_to_status_id":null,"possibly_sensitive":false,"entities":{"user_mentions":[],"urls":[],"hashtags":[]},"user":{"friends_count":194,"entities":{"url":{"urls":[{"url":"http:\/\/t.co\/KjAxCKmUWZ","indices":[0,22],"display_url":"aheadcreative.com","expanded_url":"http:\/\/www.aheadcreative.com"}]},"description":{"urls":[{"expanded_url":"http:\/\/findmebyip.com","url":"http:\/\/t.co\/f3SP6miAA7","indices":[80,102],"display_url":"findmebyip.com"},{"expanded_url":"http:\/\/wordpress.org\/plugins\/bc-responsive-images","url":"http:\/\/t.co\/rRBZQvWKnQ","indices":[115,137],"display_url":"wordpress.org\/plugins\/bc-res\u2026"}]}},"default_profile_image":false,"name":"David
        Smith","profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/profile_background_images\/709482016\/e7a0a6c99a81f5039658bfc150d7257d.png","created_at":"Mon
        Sep 08 15:31:49 +0000 2008","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/709482016\/e7a0a6c99a81f5039658bfc150d7257d.png","geo_enabled":false,"profile_link_color":"720505","screen_name":"get_dave","profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/766381875\/ma20okv7_normal.jpg","id_str":"16185920","id":16185920,"default_profile":false,"profile_use_background_image":true,"statuses_count":5923,"lang":"en","verified":false,"profile_text_color":"3E4415","url":"http:\/\/t.co\/KjAxCKmUWZ","listed_count":43,"profile_sidebar_border_color":"FFFFFF","utc_offset":0,"is_translator":false,"followers_count":531,"location":"Bath,
        UK","contributors_enabled":false,"following":false,"profile_background_tile":false,"protected":false,"notifications":false,"description":"Frontend
        Developer living and working [just outside] Bath. Original designer of http:\/\/t.co\/f3SP6miAA7.
        Creator of http:\/\/t.co\/rRBZQvWKnQ. Tech lead @ Burfield","profile_sidebar_fill_color":"99CC33","follow_request_sent":false,"time_zone":"London","favourites_count":370,"profile_background_color":"FFFFFF","profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/profile_images\/766381875\/ma20okv7_normal.jpg"},"in_reply_to_screen_name":null,"place":null,"created_at":"Fri
        Apr 08 13:45:21 +0000 2011","contributors":null,"favorited":true,"source":"\u003Ca
        href=\"http:\/\/www.tweetdeck.com\" rel=\"nofollow\"\u003ETweetDeck\u003C\/a\u003E","id":56351930166935552,"possibly_sensitive_editable":true,"geo":null,"in_reply_to_user_id":null,"in_reply_to_status_id_str":null,"retweet_count":0,"truncated":false,"text":"SublimeVideo
        looks like a neat resource for serving HTML5 video in a way that''s always
        up to date and reliable http:\/\/bit.ly\/i8kVKt","in_reply_to_user_id_str":null,"id_str":"56351930166935552","retweeted":false,"coordinates":null}'
  recorded_at: Thu, 26 Sep 2013 13:29:37 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/56351930166935552.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="KTWk4ZrufEHjncLCsNwhw", oauth_nonce="59055158524e2cd0a767386cb4e59215",
        oauth_signature="mJj7rxoJJekfoGSR1cQX9%2Fe0TFA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380202177", oauth_token="6797462-Sz009rpFmcLGIBANAyJRsKoUlHtf2Rl5YuufnZeiI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Sep 2013 13:29:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1380203077'
      X-Transaction:
      - 58892b2fc5111a67
    body:
      encoding: UTF-8
      string: '{"created_at":"Fri Apr 08 13:45:21 +0000 2011","id":56351930166935552,"id_str":"56351930166935552","text":"SublimeVideo
        looks like a neat resource for serving HTML5 video in a way that''s always
        up to date and reliable http:\/\/bit.ly\/i8kVKt","source":"\u003ca href=\"http:\/\/www.tweetdeck.com\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":fal[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/destroy.json
    body:
      encoding: US-ASCII
      string: id=56351930166935552
    headers:
      Authorization:
      - OAuth oauth_consumer_key="KTWk4ZrufEHjncLCsNwhw", oauth_nonce="a3fb2efd1c35c2516f60fa68f70b3794",
        oauth_signature="Akze7jN6It%2BjQeo3y5APTMQazlw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1380202177", oauth_token="6797462-Sz009rpFmcLGIBANAyJRsKoUlHtf2Rl5YuufnZeiI",
   [...]
[...]
