%h4.title Mobile / Desktop
.content.content_wrap
  - if stats.empty?
    %p.empty No plays.
  - else
    %ul
      - d_percent = stats.try_keys('d', :percent) { 0 }
      %li{ style: stats_height_style_for_mobile_desktop_percentage(d_percent) }
        %span.value
          %span.percent{ style: stats_line_height_style_for_mobile_desktop_percentage(d_percent) }
            = display_percentage(d_percent, strip_insignificant_zeros: false)
            %em Desktop

      - m_percent = stats.try_keys('m', :percent) { 0 }
      %li{ style: stats_height_style_for_mobile_desktop_percentage(m_percent) }
        %span.bar
          %span.value
            %span.percent{ style: stats_line_height_style_for_mobile_desktop_percentage(m_percent, 3) }
              = display_percentage(m_percent, strip_insignificant_zeros: false)
              %em Mobile
