#mobile_desktop
  .graph_box
    %h4.title Mobile / Desktop
    .content.content_wrap
      - if stats.empty?
        %p.empty No plays.
      - else
        #mobiles_and_desktops_chart{style: "padding-top:40px"}
        :coffee
          MySublimeVideo.Helpers.VideoStatsChartsHelper.mobilesAndDesktopsChart([
            { name: 'Desktop', y: #{stats.try_keys('d', :count) { 0 }}, color: 'rgba(74,100,142,0.6)', borderWidth: 1, borderColor: 'rgba(74,100,142,0.9)' },
            { name: 'Mobile', y: #{stats.try_keys('m', :count) { 0 }}, color: 'rgb(30, 57, 102)', borderWidth: 0 }
          ])

      %ul.graph_legend
        %li.graph_label_color_2{style:"margin-bottom:10px"}<
          = display_percentage(stats.try_keys('d', :percent) { 0 }, strip_insignificant_zeros: false)
          %span desktop
        %li.graph_label_color_3<
          = display_percentage(stats.try_keys('m', :percent) { 0 }, strip_insignificant_zeros: false)
          %span mobile
      .spacer
