#mobile_desktop
  .graph_box
    %h4.title Mobile / Desktop
    .content.content_wrap
      - if stats.empty?
        %p.empty No plays.
      - else
        - d_percent = stats.try_keys('d', :percent) { 0 }
        - m_percent = stats.try_keys('m', :percent) { 0 }
        %ul.graph
          %li{ style: stats_height_style_for_mobile_desktop_percentage(d_percent) }

          %li{ style: stats_height_style_for_mobile_desktop_percentage(m_percent) }
            %span.bar

      %ul.graph_legend
        %li.graph_label_color_2<
          %span.value
            %span.percent
              = display_percentage(d_percent, strip_insignificant_zeros: false)
              %span desktop
        %li.graph_label_color_1<
          %span.value
            %span.percent
              = display_percentage(m_percent, strip_insignificant_zeros: false)
              %span mobile
      .spacer
