= title_and_content_header("Stats for #{@site.hostname || @site.token}")

:coffeescript
  $ ->
    MSVStats.site_token = '#{@site.token}'
    # Backbone.history.start()
    s = new MSVStats.Collections.Stats
    s.fetch()