= title_and_content_header("Stats for #{@site.hostname || @site.token}")

:coffeescript
  $ ->
    statsRouter = new  MSVStats.Routers.StatsRouter()
    # Backbone.history.start({ pushState: true, root: "/sites/#{@site.token}/stats" })
    Backbone.history.start({ pushState: true })

#sites_select