- invoices = object.invoices.order(:created_at.desc).limit(12).uniq

%h3 Last 12 invoices

%table.crado.center
  %tr
    %th Month Year
    %th Amount
    %th Invoice Items
  - invoices.each do |invoice|
    %tr
      %td= link_to(invoice_dates(invoice), [:edit, :admin, invoice])
      %td= display_amount(invoice.amount)