= page_title "30 day money back"

:textile
  We offer a 30 day money back guarantee on all paid plans. If for any reason you are unsatisfied with our service, you can request a refund at any time within 30 days of the purchase date.

  You can request a refund using "this page":https://my.sublimevideo.net/refund.
