= page_title "Autoplay video upon page load"

:textile
  Playing a video on page load is possible using our "JavaScript API":/javascript-api. _Please note this currently doesn't work on iOS devices._

  The following is a simple example of the code needed to achieve this:

  h4. HTML Code

:coderay
  #{coderay_options(:html)}
  <video id="video1" poster="posterframe.jpg" width="640" height="360" preload="none">
    <source src="video.mp4" />
    <source src="video.webm" />
  </video>

:textile
  **Notes**

  When implementing this functionality, you must not add the "_sublime_" @class@ to the @<video>@ element. This is because the video will be prepared through the JS API.

  h4. JavaScript Code

  Put this code in a @<script>@ element just before the @</body>@ tag, or in an external file.

:coderay
  #{coderay_options(:javascript)}
  sublimevideo.ready(function() {
    sublimevideo.prepareAndPlay("video1");
  });

:textile
  h3(#demo). "Demo":#demo

  You can see this feature in action "on this page":http://test.sublimevideo.net/autoplay.
