= page_title "Embeds"

:textile

  SublimeVideo embeds allows you to embed the SublimeVideo Player into another web page using an iframe. 

  Your audience can now easily share your videos by embedding them into their own sites or elsewhere on the web.

  Please refer to the code in the test page below

  Pay attention to the grey-colored comments in the code, in particular the need of the "sv_iframe_embed" class.

  http://test.sublimevideo.net/iframe-embed/ (pay attention to the grey-colored comments in the code, in particular the need of the "sv_iframe_embed" class)

  The <iframe> line of code is the one visitors can copy and paste on another site.
