= page_title "Encode videos for the Web and HTML5"

:textile
  A @<video>@ element can link to multiple video files encoded in different formats, and the browser will choose the first video it can actually play.

  This table summarizes the current natively supported video formats on the latest HTML5 browsers:

  table(simple).
  |_. Video container format / codec|_. Native HTML5 support|
  |MP4 / H.264|Safari (incl iPhone/iPad), Chrome|
  |Ogg / Theora|Firefox, Opera, Chrome|
  |WebM / VP8|Firefox, Opera, Chrome|

  <small>(See our "supported browsers":/supported-browsers-and-platforms page for more details about this)</small>

  As you can see, there is no single video format that works in all HTML5 browsers. If you want your video to be seen in the maximum number of HTML5 browsers without the use of Flash, you need to encode your video in multiple formats, as explained below.
  However, if you really just want to encode your video in one format and still be sure it'll be visible in all browsers, you can encode it in MP4/H.264 and SublimeVideo will automatically switch to Flash mode when needed (i.e. on HTML5 browsers that cannot decode H.264 natively, and on legacy browsers that do not support HTML5 at all).

  To learn more about encoding video for the web, please consult the following guides from Mark Pilgrim's _Dive into HTML5_ book:
  * "Encoding H.264 Video":http://diveintohtml5.info/video.html#handbrake-gui
  * "Encoding Ogg Video":http://diveintohtml5.info/video.html#firefogg
  * "Encoding WebM Video":http://diveintohtml5.info/video.html#webm-cli

  Once you're finished encoding your videos and ready to upload them to your web server, please remember to double-check that the "MIME types are properly configured":/troubleshooting#videos-dont-start-playing in the server, especially if you’re uploading Ogg and WebM videos.
