= content_for :title, "FAQ"

:textile
  h2(#player-faq). "Player FAQ":#player-faq

  h3(#customize-play-button). "How can I customize the appearance of the initial play button?":#customize-play-button

  There is currently no built-in way of customizing the appearance of the initial play button. However, there is a pretty straightforward solution – using the JavaScript API – "documented here":/customizing-the-initial-play-button.


  h3(#hidden-video-still-shows-up). "I have my video hidden, but it still shows up when the page loads, why?":#hidden-video-still-shows-up

  If your @<video>@ element is hidden (@display:none@) and you don't want it to be shown on page load, just do *not* add the "_sublime_" @class@ to it. To show the video, use the JavaScript API "(c)@sublimevideo.prepare@":/javascript-api/methods#prepare method.


  h3(#streaming-protocols-support). "Does SublimeVideo support streaming protocols?":#streaming-protocols-support

  SublimeVideo currently only supports videos delivered through HTTP. This is because HTTP is currently the only protocol supported by HTML5 Video consistently on all browsers.

  RTMP support is something we plan to add in future, but it means our player will be forced into Flash mode, because HTML5 doesn't – and will probably never – support RTMP.


  h3(#use-sublimevideo-in-ssl-site). "My site is secured with SSL (https://), how can I use SublimeVideo in it?":#use-sublimevideo-in-ssl-site

  SublimeVideo can be served via SSL for secure pages, this requires you to change your embed code. "Learn more":/ssl.

  <br />

  h2(#service-faq). "Service FAQ":#service-faq

  h3(#test-sublimevideo-on-local-domains). "Can I test SublimeVideo on _localhost_ or another development domain?":#test-sublimevideo-on-local-domains

  Sure. By default SublimeVideo always works on _localhost_ and _127.0.0.1_. If you want to use a more specific development domain, please edit your "site settings":/site-settings. You can test the player on your local development domains with no limit: video plays will not be counted in this case.


  h3(#buy-plan-per-subdomains). "I have multiple subdomains of my main domain, should I buy a separate plan for each one of them?":#buy-plan-per-subdomains

  No, you can share the same plan across all your subdomains via the "wildcard option":/site-settings#wildcard.


  h3(#buy-plan-for-staging-domain). "I have a staging domain, should I buy a separate plan for it?":#buy-plan-for-staging-domain

  No, you can add your staging domain to the _staging and alias domains_ field. "Learn more":/site-settings#extra_domains.


  h3(#buy-plan-for-alias-domain). "I have different domains displaying or pointing to the same content, should I buy a separate plan for each of these?":#buy-plan-for-alias-domain

  No, you can add these domains to the _staging and alias domains_ field. "Learn more":/site-settings#extra_domains.


  h3(#encoding-and-hosting). "Do you provide encoding and hosting for my video files?":#encoding-and-hosting

  No, currently we provide the player – you keep full control of your video files by maintaining the flexibility of using your preferred encoding and hosting service(s).
