= page_title "HD switching"

:textile
  SublimeVideo comes with an integrated HD switch allowing you to toggle SD-HD video sources with a single click. It's really easy to set up: all you need to do is add an additional @<source />@ element and set its @data-quality@ attribute to "_hd_".

  Follow the examples below to get started.

  h4. Universal HD switching (MP4 and WebM)
:coderay
  #{coderay_options(:html)}
  <video class="sublime" width="640" height="360" poster="http://yoursite.com/video-poster.jpg" preload="none">
    <source src="http://yoursite.com/video.mp4" />
    <source src="http://yoursite.com/video_hd.mp4" data-quality="hd" />
    <source src="http://yoursite.com/video.webm" />
    <source src="http://yoursite.com/video_hd.webm" data-quality="hd" />
  </video>
:textile

  h4. MP4-only HD switching
:coderay
  #{coderay_options(:html)}
  <video class="sublime" width="640" height="360" poster="http://yoursite.com/video-poster.jpg" preload="none">
    <source src="http://yoursite.com/video.mp4" />
    <source src="http://yoursite.com/video_hd.mp4" data-quality="hd" />
    <source src="http://yoursite.com/video.webm" />
  </video>
:textile

  h4. Play HD first
:coderay
  #{coderay_options(:html)}
  <video class="sublime" width="640" height="360" poster="http://yoursite.com/video-poster.jpg" preload="none">
    <source src="http://yoursite.com/video_hd.mp4" data-quality="hd" />
    <source src="http://yoursite.com/video.mp4" />
    <source src="http://yoursite.com/video_hd.webm" data-quality="hd" />
    <source src="http://yoursite.com/video.webm" />
  </video>
:textile

  **Notes**

  If you switch sources in Flash mode, the player won't remember the playback position and the video will start playing from the beginning. If you use _Universal HD switching_ you will almost never encounter this issue (except in old versions of IE).

  h3(#demo). "Demo":#demo

  You can see this feature in action "on this page":http://test.sublimevideo.net/hd.
