= page_title "Peak Insurance"

:textile

  All paid plans include _Peak Insurance_, a flexible feature which allows your site to exceed the monthly limit of video plays in the event of a temporary burst of traffic. We are not going to block your player when you need it the most, and we are not going to ask you to upgrade unless you have exceeded your monthly plays quota and your site has been above its average daily limit[^"1":#fn-1^] for more than 50% of the last 60 days (or at least 20 days when you start a plan).

  <div class="footnotes">
  #(#fn-1) The average daily limit for your site is simply determined by dividing your plan's monthly limit of video plays by 30.
  </div>
