= page_title "Put your video in a floating lightbox"

:textile
  SublimeVideo comes with integrated zooming capabilities to load and display videos in a floating "lightbox".

  While it is possible to integrate SublimeVideo with other lightbox libraries (you'll need to use our "JavaScript API":/javascript-api for this), we highly recommend using SublimeVideo's integrated capabilities described here to get the easiest and best possible lightbox integration for your videos.

  Here is the HTML code needed to obtain the lightbox effect:

:coderay
  #{coderay_options(:html, line_numbers: :inline, line_number_anchors: 'basic-L', bold_every: false)}
   <a class="sublime" href="http://yoursite.com/video-mobile.mp4">
     <img src="http://yoursite.com/video-thumb.jpg" alt="" />
   </a>
   <video style="display:none" class="sublime zoom" width="640" height="360" poster="http://yoursite.com/video-poster.jpg" preload="none">
      <source src="http://yoursite.com/video.mp4" />
      <source src="http://yoursite.com/video.webm" />
  </video>
:textile

  %(red)_*Important notes*_:%

  * The @<a>@ element *must* be present and adjacent to the @<video>@ element in order for the lightbox effect to work properly.
  * Please be sure there is no HTML element (even a @<br />@) between the @<a>@ and the @<video>@.

  *Notes*

  The first 3 lines represent the "clickable thumbnail":

  *Line 1.* You need to set the _sublime_ @class@ in the @<a>@ element. Also, we recommend linking directly to a MP4 source (@href@ attribute) to enable compatibility with mobile devices where the lightbox effect is currently not supported.

  *Line 2.* Here we used a separate image as the thumbnail (@video-thumb.jpg@). But if the size of the poster frame (line 7.) is not too big, you could directly link to it in the @src@ attribute of this @<img>@ element. In the "live demo page":http://test.sublimevideo.net/lightbox we also added a @<span>@ element just below the @<img>@ to superpose a small magnifying glass icon on the thumbnail (you can "find instructions below":#magnifying-glass on how to do this).


  The @<video>@ element (lines 4-7) is very similar to the one we previously described in the "Write &lt;video&gt; elements":/write-proper-video-elements page except for two changes:

  *Line 4.*

  * It needs to be initially hidden.
  * It needs the _zoom_ @class@ (in addition to the _sublime_ @class@).

  h3(#magnifying-glass). "Optional: Add a magnifying glass icon over the thumbnail":#magnifying-glass

  If you want to add a magnifying glass icon over the thumbnail, you can use the HTML and CSS code below:

  h4. HTML Code

:coderay
  #{coderay_options(:html, line_numbers: :inline, line_number_anchors: 'advanced-L', bold_every: false)}
  <a class="sublime zoomable" href="http://yoursite.com/video-mobile.mp4">
    <img src="http://yoursite.com/video-thumb.jpg" alt="" />
    <span class="zoom_icon"></span>
  </a>
  <video style="display:none" class="sublime zoom" width="640" height="360" poster="http://yoursite.com/video-poster.jpg" preload="none">
    <source src="http://yoursite.com/video.mp4" />
    <source src="http://yoursite.com/video.webm" />
  </video>
:textile
  Additional code is composed of the _zoomable_ @class@ ("line 1":#advanced-L1) and a @<span>@ element ("line 3":#advanced-L3).

:textile
  h4. CSS Code

:coderay
  #{coderay_options(:css)}
  a.zoomable {
    display:block;
    width:180px;
    height:76px;
    background:#000;
    position:relative;
    -webkit-box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
    -moz-box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
    box-shadow:rgba(0,0,0,0.4) 0 4px 10px;
  }

  a.zoomable span.zoom_icon {
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:url(sv_zoom_icon.png) no-repeat bottom right;
    opacity:0.3;
    -o-transition:opacity 0.25s;
    -moz-transition:opacity 0.25s;
    -webkit-transition:opacity 0.25s;
    transition:opacity 0.25s;
  }

  a.zoomable:hover span.zoom_icon {opacity:1}

:textile
  **Notes**

  The icon can be found "here":http://f.cl.ly/items/3C1V2w2r36360V3c1b3x/sv_zoom_icon.png.

  h3(#demo). "Demo":#demo

  You can see this feature in action "on this page":http://test.sublimevideo.net/lightbox.
