= page_title "Site settings"

:textile
  You can access site settings by clicking your domain name on the #{link_to "My Sites", sites_url(subdomain: 'my')} page.

  h3(#main-domain). "Main domain":#main-domain

  Use this field to specify the main domain name of your site. Technically, this is a hostname, so you can also enter a subdomain (example: _blog.yourdomain.com_). This field is optional for the Free plan.

  h3(#dev-domains). "Development domains":#dev-domains

  By default SublimeVideo always works on _localhost_ and _127.0.0.1_. You can use this field to specify other local development domains.

  Development domains declared in this field benefit from unlimited testing (video plays are not counted on these domains).

  h3(#staging-and-alias-domains). "Staging and alias domains":#staging-and-alias-domains

  Use this field to extend your SublimeVideo player license to your staging or alias domains. This field is meant to be used *exclusively* for domains that are displaying or pointing to the *same content* as your main domain. Localized domains (for instance _yourdomain.fr_ and _yourdomain.es_ that "look" like _yourdomain.com_ but contain translated content) are also allowed.

  h3(#path). "Custom Path":#path

  Use this field to restrict your SublimeVideo player license to a specific path of your domain.
  As general rule, if you don't own the main domain, we highly recommend you use this field to restrict the player to your pages only. Typical examples are web hosting services like MobileMe: if your site is available at _web.me.com/yourname_, you should add _yourname_ to the Path field. This will prevent another MobileMe user from using your player on his site.

  h3(#wildcard). "Wildcard":#wildcard

  Enable the wildcard option to extend your SublimeVideo player license to any subdomains of your main domain, staging domains, alias domains and development domains.
