= page_title "Troubleshooting"

:textile
  h3(#videos-dont-start-playing). Videos don't start playing

  The most common cause of this problem is MIME types misconfiguration in your web server. While most web servers are already configured to serve _.mp4_ files with the proper MIME type, they are often not configured to properly serve _.ogv_ and _.webm_ files.

  Here is how MIME types should be configured in your web server:

  table(simple).
  |_. File extension|_. MIME type|
  |.mp4, m4v|video/mp4|
  |.ogv|video/ogg|
  |.webm|video/webm|

  h4. Videos served by Apache

  Please read "this article":http://diveintohtml5.info/video.html#video-mime-types to learn more about how to configure the Apache web server.

  h4. Videos served by Amazon S3

  If your are using Amazon S3 to host Ogg and WebM videos, you might want to check that the proper MIME types are set when uploading the video files.
  For MP4 videos this shouldn't be necessary (as the proper MIME type is already set by default).

  h3(#videos-dont-play-on-the-iphone-or-other-mobile-devices). Videos don't play on the iPhone or other mobile devices

  Be sure your MP4/H.264 video file doesn't exceed the maximum resolution/bitrate supported by your mobile device, otherwise you need to specify an additional @<source>@ element as explained in "how to write proper @<video>@ elements":/write-proper-video-elements section.

  h3(#videos-dont-play-until-fully-preloaded). Videos don't play until they are fully preloaded (in Flash mode)

  It is probably an encoding issue with your MP4 videos. Try to re-encode them using the free application "Handbrake":http://handbrake.fr, and be sure to check the "*Web optimized*" option which will allows the video to start playing (in Flash mode) even if it is not fully preloaded. Read more about "H.264 video encoding":/encode-videos-for-the-web.

  h3(#videos-dont-play-until-fully-preloaded). Videos only show the poster frame and no play button in Internet Explorer 9

  Since SublimeVideo is designed with HTML5 video in mind, just use @<!DOCTYPE html>@ before anything else at the top of your document. Do not even place a comment line before the DOCTYPE declaration or it would trigger IE into "Quirks Mode":http://en.wikipedia.org/wiki/Quirks_mode.

  Here is a good and simple example:

:coderay
  #{coderay_options(:html)}
  <!DOCTYPE html>
  <html>
    <head>
      <title>My website</title>
      <script src="http://cdn.sublimevideo.net/js/YOURTOKEN.js" type="text/javascript"></script>
    </head>
    <body>
      <!-- Content of your website -->
    </body>
  </html>

:textile
  h3(#not-properly-registered). I'm seeing the message "SublimeVideo Player is not properly registered for this site", why?

  The alert is displayed if you have multiple sites registered on #{link_to "MySublimeVideo", sites_url(subdomain: 'my')} and are using another site’s SublimeVideo Player embed code in the site receiving the error message. Please check that the embed code you are using on your site is the same as the one displayed when you click the 'Embed Code' button for that site on #{link_to "MySublimeVideo", sites_url(subdomain: 'my')}.

  This alert is also displayed if:
  * You are using the player on a development domain that is not specified in the "_Development domains_":/site-settings#dev_domains field.
  * You are using the player on a production site, but you didn't provide any _"Main":/site-settings#main_domain, "Staging or alias":/site-settings#extra_domains_ domain.
  * You are using the player on a subdomain of your _Main, Staging or alias domain_, but you didn't enable the "Wildcard option":/site-settings#wildcard.
