<%
usages = StatTimeline::SiteUsage.timeline(graph_start_date, graph_end_date, { labels: [:main_usage, :extra_usage], merge_cached: true })
billable_usage_old = usages["main_usage"].zip(usages["extra_usage"]).map { |item| item.reduce(:+) }

stats_timeline_new = StatTimeline::SiteDayStat.new(from: graph_start_date, to: graph_end_date)

graph = Graph.new do |g|
  g.option(chart: chart('timeline_usage'))
  g.option(title: { text: "Total video views" })
  g.option(subtitle: usage_date_subtitle(start_at: range_start_date, end_at: range_end_date))
  g.option(legend: legend(width: 700))
  g.option(xAxis: x_axis(start_at: range_start_date, end_at: range_end_date))

  g.raw_option(y_axis("Video views"))
  g.raw_option(tooltip(formatter: %(
    var date  = "<strong>" + Highcharts.dateFormat("%B %e,  %Y", this.x) + "</strong><br/><br/>";
    var label = "<strong>" + Highcharts.numberFormat(this.y, 0) + "</strong>";
    var loader_per_player = '';

    if (["Invalid", "Invalid cached", "Dev", "Dev cached", "Extra", "Extra cached", "Main", "Main cached"].indexOf(this.series.name) != -1)
      label += " of " + Highcharts.numberFormat(this.total, 0) + " (" + Highcharts.numberFormat(this.percentage, 1) + "%)";
    else if (this.series.name == "Loader")
      label += "<br/>Loader / Player: " + Highcharts.numberFormat((this.y / (this.total - this.y)), 1);

    return date + this.series.name + ":<br/>" + label;
  )))

  g.option(series: [
    serie(billable_usage_old[moving_average_length-1..-1], 'Billable (old)', type: 'column', stack: 0),
    serie(stats_timeline_new.billable_vv[moving_average_length-1..-1], 'Billable (new)', type: 'column', stack: 1),
    serie(moving_average(billable_usage_old, moving_average_length), 'AVG Billable (old)', type: 'line', stack: 2),
    serie(moving_average(stats_timeline_new.billable_vv, moving_average_length), 'AVG Billable (new)', type: 'line', stack: 3),
  ])
  g.option(plotOptions: plot_options(range_start_date))
  g.option(credits: credits)
end
%>
<br />
<div id="timeline_usage" style="width: 100%; height: 400px;"><%= raw graph.draw(observe: request.xhr? ? false : "dom:loaded") %></div>
