= title("Stats")

%h2#page_title

.stats
  :coffeescript
    $ ->
      window.SVStats.stats = {}
      window.SVStats.statsRouter = new SVStats.Routers.StatsRouter()

      $('#chart').spin(spinOptions)
      Backbone.history.start(pushState: true)

  #chart

  .spacer

  #selectors
    %table
      %tr
        %td#users{ style: 'background: rgba(0,0,255,0.2)' }
          %ul
            %li
              %h3
                %a.selector{ href: "#", data: { value: 'users.all' } } Users
              %ul
                %li
                  %a.selector.active{ href: "#", data: { value: 'users.active' } } Active
                  %ul
                    %li
                      %a.selector{ href: "#", data: { value: 'users.fr' }, title: "Users with no paying sites" } Free
                    %li
                      %a.selector{ href: "#", data: { value: 'users.pa' }, title: "Users with at least 1 paying sites" } Paying
                %li
                  %a.selector{ href: "#", data: { value: 'users.passive' } } Passive
                  %ul
                    %li
                      %a.selector{ href: "#", data: { value: 'users.su' }, title: "Users who have too many payment issues" } Suspended
                    %li
                      %a.selector{ href: "#", data: { value: 'users.ar' }, title: "Users who chose to delete their account OR users that didn't accept their beta invitation" } Archived

        %td#sites{ style: 'background: rgba(255,0,0,0.2)' }
          %ul
            %li
              %h3
                %a.selector{ href: "#", data: { value: 'sites.all' } } Sites
              %ul
                %li
                  %a.selector.active{ href: "#", data: { value: 'sites.active' } } Active
                  %ul
                    %li
                      %a.selector{ href: "#", data: { value: 'sites.fr' } } Free
                      %ul
                        %li
                          %a.selector{ href: "#", data: { value: 'sites.fr.beta' } } Beta
                        %li
                          %a.selector{ href: "#", data: { value: 'sites.fr.dev' } } Dev
                        %li
                          %a.selector{ href: "#", data: { value: 'sites.fr.free' } } Freemium

                    %li
                      %a.selector{ href: "#", data: { value: 'sites.tr' } } Trial
                      %ul
                        %li
                          %a.selector{ href: "#", data: { value: 'sites.tr.plus' } } Plus
                          %ul
                            %li
                              %a.selector{ href: "#", data: { value: 'sites.tr.plus.m' } } Monthly
                            %li
                              %a.selector{ href: "#", data: { value: 'sites.tr.plus.y' } } Yearly
                        %li
                          %a.selector{ href: "#", data: { value: 'sites.tr.premium' } } Premium
                          %ul
                            %li
                              %a.selector{ href: "#", data: { value: 'sites.tr.premium.m' } } Monthly
                            %li
                              %a.selector{ href: "#", data: { value: 'sites.tr.premium.y' } } Yearly
                    %li
                      %a.selector{ href: "#", data: { value: 'sites.pa' } } Paying
                      %ul
                        %li
                          %a.selector{ href: "#", data: { value: 'sites.pa.plus' } } Plus
                          %ul
                            %li
                              %a.selector{ href: "#", data: { value: 'sites.pa.plus.m' } } Monthly
                            %li
                              %a.selector{ href: "#", data: { value: 'sites.pa.plus.y' } } Yearly
                        %li
                          %a.selector{ href: "#", data: { value: 'sites.pa.premium' } } Premium
                          %ul
                            %li
                              %a.selector{ href: "#", data: { value: 'sites.pa.premium.m' } } Monthly
                            %li
                              %a.selector{ href: "#", data: { value: 'sites.pa.premium.y' } } Yearly
                %li
                  %a.selector{ href: "#", data: { value: 'sites.passive' } } Passive
                  %ul
                    %li
                      %a.selector{ href: "#", data: { value: 'sites.su' } } Suspended
                    %li
                      %a.selector{ href: "#", data: { value: 'sites.ar' } } Archived

        %td#site_stats{ style: 'background: rgba(100,100,200,0.2)' }
          %ul
            %li
              %h3
                %a.selector{ href: "#", data: { value: 'site_stats.pv.all' } } Page visits
              %ul
                %li
                  %a.selector.active{ href: "#", data: { value: 'site_stats.pv.billable' } } Billable
                  %ul
                    %li
                      %a.selector{ href: "#", data: { value: 'site_stats.pv.m' } } Main
                    %li
                      %a.selector{ href: "#", data: { value: 'site_stats.pv.e' } } Extra
                    %li
                      %a.selector{ href: "#", data: { value: 'site_stats.pv.em' }, title: "Extra & Main embed only" } Embed
                %li
                  %a.selector{ href: "#", data: { value: 'site_stats.pv.d' } } Dev
                %li
                  %a.selector{ href: "#", data: { value: 'site_stats.pv.i' } } Invalid
            %li
              %h3
                %a.selector{ href: "#", data: { value: 'site_stats.vv.all' } } Video plays
              %ul
                %li
                  %a.selector.active{ href: "#", data: { value: 'site_stats.vv.billable' } } Billable
                  %ul
                    %li
                      %a.selector{ href: "#", data: { value: 'site_stats.vv.m' } } Main
                    %li
                      %a.selector{ href: "#", data: { value: 'site_stats.vv.e' } } Extra
                    %li
                      %a.selector{ href: "#", data: { value: 'site_stats.vv.em' }, title: "Extra & Main embed only" } Embed
                %li
                  %a.selector{ href: "#", data: { value: 'site_stats.vv.d' } } Dev
                %li
                  %a.selector{ href: "#", data: { value: 'site_stats.vv.i' } } Invalid
            %li
              %h3 Player Mode & Device
              %ul
                %li
                  %a.selector.active{ href: "#", data: { value: 'site_stats.md.html5_proportion' } } HTML5 proportion
                %li
                  %a.selector{ href: "#", data: { value: 'site_stats.md.mobile_proportion' } } Mobile (tablet included) proportion

        %td#tweets{ style: 'background: rgba(0,255,0,0.2)' }
          %ul
            %li
              %h3 Tweets
              %ul
                %li
                  %a.selector{ href: "#", data: { value: 'tweets.sublimevideo' } } SublimeVideo
