- unless current_user.billable_views.zero?
  - if !current_user.notice_hidden?(1)
    - biggest_site = current_user.sites.not_archived.by_last_30_days_billable_video_views.first
    = render 'layouts/hidable_notice', notice_id: 1, notice_content: t("notices.checkout_v2_news", link_to_stats: link_to("statistics feature", [biggest_site, :stats]))
- if !current_user.notice_hidden?(2) && current_user.created_at < 2.weeks.ago && current_user.more_info_incomplete? && (!current_user.billable? || current_user.billing_address_complete?)
  = render 'layouts/hidable_notice', notice_id: 2, notice_content: t("notices.complete_more_info")
- if Time.now.utc > Time.utc(2012, 12, 07, 12) && !current_user.notice_hidden?(3)
  = render 'layouts/hidable_notice', notice_id: 3, notice_content: t("notices.horizon_maintenance")
