#signup_steps
  .center_wrap
    %ul
      %li{ class: ('active' if active == 1) }
        %strong.number 1
        = "Sign Up"
      %li{ class: ('active' if active == 2) }
        %strong.number 2
        = "Choose a plan for your site"
  .spacer
