%h2
  = hostname_or_token(@site, length: 20)
  %select#sites_select_title{ 'data-token' => @site.token }
    -#- @sites.sort_by { |s| hostname_or_token(s, prefix: 'zzz') }.each do |site|
    -#  - unless site == @site
    -#    %option{ value: site.token }= hostname_or_token(site, length: 20)
