- notices = [[current_user.cc_expire_this_month? || current_user.cc_expired?, 'credit_card_warning'], [!current_user.billing_address_complete?, 'billing_address_incomplete']]
- conditions_sum = notices.inject(false) { |cond, notice| cond || notice[0] }

- if current_user.billable? && conditions_sum
  #sticky_notice.notices
    -# %h3 Warning
    %ul
      - notices.each do |notice|
        - if current_user.billable? && notice[0]
          %li.notice= render "layouts/sticky_notices/#{notice[1]}"
