- notices = sticky_notices(current_user, @sites.sort_by(&:plan_started_at))

- if notices.present?
  #sticky_notice.notices
    %ul
      - notices.each do |notice, items|
        - if items.respond_to?(:each)
          - items.each do |item|
            %li.notice= render "layouts/sticky_notices/#{notice}", item
        - else
          %li.notice= render "layouts/sticky_notices/#{notice}"
