%tr
  %td{ :style => "width:80%; text-align:left;" }= link_to truncate(referrer.url, :length => 50), referrer.url
  %td{ :style => "width:10%;" }= referrer.hits
  %td{ :style => "width:10%;" }= display_date(referrer.updated_at)
