%tr
  %td{ style: "width:70%; text-align:left;" }= link_to truncate(referrer.url, length: 150), referrer.url
  %td{ style: "width:15%;" }= referrer.hits
  %td{ style: "width:15%;" }= display_time(referrer.updated_at)
