<h3>Page visits & Video plays</h3>
<%
stats_timeline = SiteAdminStatsTimelineBuilder.new(site, days: 90, moving_average: 30)

graph = HighchartsGraphBuilder.new do |g|
  g.option(chart: chart('timeline_stats'))
  g.option(title: { text: "Video loads and starts for #{admin_pretty_hostname(site, site.hostname)} (last 90d)"})
  g.option(subtitle: stats_date_subtitle(start_at: stats_timeline.start_at, end_at: stats_timeline.end_at))
  g.option(legend: legend)
  g.option(xAxis: x_axis(start_at: stats_timeline.start_at, end_at: stats_timeline.end_at))
  g.raw_option(y_axis(""))
  g.raw_option(tooltip(formatter: %(
    var date  = "<strong>" + Highcharts.dateFormat("%B %e,  %Y", this.x) + "</strong><br/><br/>";
    var label = "<strong>" + Highcharts.numberFormat(this.y, 0) + "</strong>";

    if (["Dev", "Main", "Extra", "Embed"].indexOf(this.series.name) != -1)
      label += " of " + Highcharts.numberFormat(this.total, 0) + " (" + Highcharts.numberFormat(this.percentage, 1) + "%)";

    return date + this.series.name + ":<br/>" + label;
  )))

  g.option(series: [
    serie(stats_timeline.loads(:website), 'Loads (website)', type: 'column', visible: false, stack: 1),
    serie(stats_timeline.loads(:external), 'Loads (external)', type: 'column', visible: false, stack: 1),
    serie(moving_average(stats_timeline.all_loads, stats_timeline.moving_average), 'Loads (30d average)', visible: false, type: 'line', stack: 2),

    serie(stats_timeline.starts(:website), 'Starts (website)', type: 'column', stack: 3),
    serie(stats_timeline.starts(:external), 'Starts (external)', type: 'column', stack: 3),
    serie(moving_average(stats_timeline.all_starts, stats_timeline.moving_average), 'Starts (30d average)', type: 'line', stack: 4),
  ])
  g.option(plotOptions: plot_options(stats_timeline.start_at))
  g.option(credits: credits)
end
%>

<div id="timeline_stats" style="width: 100%; height: 300px;"><%= raw graph.draw %></div>
