%p
  Sum of last 30 days starts:
  = content_tag(:strong, display_integer(site.last_30_days_admin_starts))

%p
  Average/day of last 30 days starts:
  = content_tag(:strong, display_integer(site.last_30_days_admin_starts / 30))

%p
  All time video plays:
  = content_tag(:strong, display_integer(site.views))
