%table.left
  %tr
    %th
      %h3 Video plays
    %th
      %h3 Page visits
    %th
      %h3 Video tags
  %tr
    %td
      %p= render 'video_plays', site: site
    %td
      %p= render 'page_visits', site: site
    %td
      %p= render 'video_tags', site: site
