%p To confirm your SublimeVideo account, simply click the following link:

%p= link_to(confirmation_url(@resource, confirmation_token: @resource.confirmation_token), confirmation_url(@resource, confirmation_token: @resource.confirmation_token))

%p Thanks,