<p>We received a request to reset your password.</p>

<p>You can do this via the following link:</p>

<p><%= link_to(edit_password_url(@resource, reset_password_token: @resource.reset_password_token), edit_password_url(@resource, reset_password_token: @resource.reset_password_token)) %></p>

<p>If you didn't make this request then please ignore this email.<br />
Don't worry, your password won't change unless you visit the link above and create a new one.</p>

<p><%= t("mailer.signature") %></p>
