%h3.title Billing Questions
.help_box
  %p.title_desc= raw "For billing questions, please email #{mail_to(t("mailer.billing.email_full").html_safe, t("mailer.billing.email"), encode: "hex", class: "hl")}."
